[2013-10-31 20:43] ericvaandering commented on #821
Comment by belforte on Thu Oct  4 10:41:48 2012

fix committed
/local/reps/CMSSW/COMP/CRAB/python/Submitter.py,v  &lt;--  Submitter.py
new revision: 1.187; previous revision: 1.186

[2013-10-31 20:43] ericvaandering commented on #821
Closed by belforte on Tue Oct 23 15:27:57 2012

[2013-10-31 20:43] ericvaandering commented on #821
Comment by belforte on Tue Oct 23 15:27:57 2012

fix released in Crab 2_8_3

[2013-10-31 20:43] #821 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #822 "allow to ask for no-overflow"
Original Savannah ticket 98038 reported by belforte on Mon Oct  8 16:52:59 2012.

add a flag to JDL to allow user to indicate this task should not be overflown by glideinWMS
should work for both glidein and remoteGlidein

[2013-10-31 20:43] ericvaandering commented on #822
Comment by belforte on Fri Oct 12 15:51:02 2012

and the flag is:

CMS_ALLOW_OVERFLOW=False

(from Igor)

[2013-10-31 20:43] ericvaandering commented on #822
Comment by belforte on Mon Oct 22 07:08:32 2012

done. user can indicate
GRID.allow_overflow=0

/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.6; previous revision: 1.5

[2013-10-31 20:43] ericvaandering commented on #822
Comment by belforte on Thu Dec 20 08:01:05 2012

released in CRAB 2_8_4

[2013-10-31 20:43] ericvaandering commented on #822
Closed by belforte on Thu Dec 20 08:01:05 2012

[2013-10-31 20:43] #822 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #823 "crab -kill reports killed even if kill failed"
Original Savannah ticket 98098 reported by belforte on Wed Oct 10 15:10:10 2012.

in particular if the VOMS proxy is wrong:
belforte@lxplus244/rc&gt; crab -kill 1
crab:  Version 2.8.3 running on Wed Oct 10 22:04:50 2012 CET (20:04:50 UTC)

crab. Working options:
    scheduler           remoteGlideIn
    job type            CMSSW
    server              OFF
    working directory   /afs/cern.ch/user

[2013-10-31 20:43] ericvaandering commented on #823
Comment by belforte on Wed Oct 10 16:23:18 2012

wrong proxy is not possible any more, since
http://savannah.cern.ch/bugs/?98099

so there should be no unintentional kill and all in all this is not different from gLite where kill may simply fail and life goes on. So reduce criticality.

[2013-10-31 20:43] ericvaandering commented on #823
Closed by belforte on Tue Aug 20 10:02:35 2013

[2013-10-31 20:43] ericvaandering commented on #823
Comment by belforte on Tue Aug 20 10:02:35 2013

in the end, best is to leave it as it is, like with gLite.

[2013-10-31 20:43] #823 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #824 "detect when user is using wrong FQAN with remoteGlidein"
Original Savannah ticket 98099 reported by belforte on Wed Oct 10 15:13:59 2012.

after discussion wth Daniele Spiga, it is a bad idea to use the data base, so try to store the FQAN in a file in share directory. All in all we already rely on AnalyzedBlocks and arguments.xml there.

[2013-10-31 20:43] ericvaandering commented on #824
Comment by belforte on Wed Oct 10 16:10:49 2012

fix tested and committed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.5; previous revision: 1.4

[2013-10-31 20:43] ericvaandering commented on #824
Closed by belforte on Tue Oct 23 15:27:05 2012

[2013-10-31 20:43] ericvaandering commented on #824
Comment by belforte on Tue Oct 23 15:27:05 2012

fix released in CRAB 2_8_3

[2013-10-31 20:43] #824 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #825 "double slash in the endpoint using storage_element_name and user_remote_dr"
Original Savannah ticket 98143 reported by fanzago on Fri Oct 12 08:34:59 2012.

The double slash in the endpoint after &quot;eos/cms&quot; string creates problem in the splitting of endpoint to get the full_path of file, if scheduler CAF and xrootd protocol are used root://eoscms//eos/cms//store/group/alca_e.....

The fix is already done in the PhEDExDatasvcInfo.py, committed in CVS and fixed in

[2013-10-31 20:43] ericvaandering commented on #825
Comment by belforte on Wed Oct 24 02:29:09 2012

the fixed version is COMP/CRAB/python/PhEDExDatasvcInfo.py version 1.49

queued for crab client 2_8_4

[2013-10-31 20:43] ericvaandering commented on #825
Closed by belforte on Thu Dec 20 08:00:37 2012

[2013-10-31 20:43] ericvaandering commented on #825
Comment by belforte on Thu Dec 20 08:00:37 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #825 closed, assigned to fanzago

[2013-10-31 20:43] ericvaandering opened #826 "need CRAB_Server_API for boost 1.51 (or later) for CMSSW 6xx"
Original Savannah ticket 98182 reported by belforte on Mon Oct 15 05:12:24 2012.

CMSSW is moving to new boost and/or to new Scram,
a new crabserver API is needed
see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1615/2/1/1.html
and
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1615/2/1/1/1/1.html

[2013-10-31 20:43] ericvaandering commented on #826
Comment by spiga on Wed Oct 17 04:37:46 2012

we agreed to ship needed libs within the already existing ref. crabLibs. This should be definitely solved!

Fix done.
new revision: 1.23

assigning this back to stefano

[2013-10-31 20:43] ericvaandering commented on #826
Comment by belforte on Thu Oct 18 16:38:08 2012

for the record, that revision 1.23 refers to file &quot;crab&quot;

[2013-10-31 20:43] ericvaandering commented on #826
Comment by belforte on Thu Dec 20 08:00:11 2012

released in CRAB 2_8_4

[2013-10-31 20:43] ericvaandering commented on #826
Closed by belforte on Thu Dec 20 08:00:11 2012

[2013-10-31 20:43] #826 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #827 "protect CrabServer against OSB files with &quot;only owner&quot; permission"
Original Savannah ticket 98183 reported by belforte on Mon Oct 15 05:15:50 2012.

at times WN sets default permission mask to 600
so crab_fjr*.xml ends on CStoragePath with permission
-rw-------
and ProdAgent/GetOuput/JobHandling.py fails to &quot;rebounce&quot; it if using local copy method.

Change JobHandling to checl first if file is accessible, if not fall back to sbi.copy. This will also all

[2013-10-31 20:43] ericvaandering commented on #827
Comment by belforte on Wed Oct 17 10:16:13 2012

simple fix committed, needs to test

/local/reps/CMSSW/COMP/PRODAGENT/src/python/GetOutput/JobHandling.py,v  &lt;--  JobHandling.py
new revision: 1.24; previous revision: 1.23

[2013-10-31 20:43] ericvaandering commented on #827
Comment by belforte on Thu Oct 18 10:44:56 2012

fix tested (on vocms22) and committed
/local/reps/CMSSW/COMP/PRODAGENT/src/python/GetOutput/JobHandling.py,v  &lt;--  JobHandling.py
new revision: 1.26; previous revision: 1.25

[2013-10-31 20:43] ericvaandering commented on #827
Closed by belforte on Tue Oct 23 15:19:22 2012

[2013-10-31 20:43] ericvaandering commented on #827
Comment by belforte on Tue Oct 23 15:19:22 2012

released in PRODAGENT_0_12_18_CRAB_3 for CRABSERVER_1_1_7

[2013-10-31 20:43] #827 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #828 "extra logging from quota checking on non-AFS as of crab283"
Original Savannah ticket 98216 reported by belforte on Tue Oct 16 05:27:52 2012.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6162/1.html

users get:

crab:  Your domain name is fnal.gov&lt;http://fnal.gov&gt;: only local dataset will be considered
crab:  Problem setting myproxy server endpoint: using myproxy.cern.ch&lt;http://myproxy.cern.ch&amp;gt;
crab:  fs: Invalid argument; i

[2013-10-31 20:43] ericvaandering commented on #828
Comment by belforte on Mon Oct 29 17:14:27 2012

fix tested and committed
/local/reps/CMSSW/COMP/CRAB/python/crab_util.py,v  &lt;--  crab_util.py
new revision: 1.122; previous revision: 1.121

[2013-10-31 20:43] ericvaandering commented on #828
Closed by belforte on Thu Dec 20 07:59:26 2012

[2013-10-31 20:43] ericvaandering commented on #828
Comment by belforte on Thu Dec 20 07:59:26 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #828 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #829 "crab -help complaints about ERROR: unterminated"
Original Savannah ticket 98217 reported by belforte on Tue Oct 16 05:29:47 2012.

since some version earlier then 283

2) crab -help command works fine, but when I come back to the command line, the following message is written:
**\* ERROR: unterminated B&lt;...&gt; at line 307 in file /tmp/vargas/tmpI_7C1D.pod

[2013-10-31 20:43] ericvaandering commented on #829
Comment by belforte on Mon Oct 29 16:57:00 2012

fix tested and committed
/local/reps/CMSSW/COMP/CRAB/python/crab_help.py,v  &lt;--  crab_help.py
new revision: 1.171; previous revision: 1.170

[2013-10-31 20:43] ericvaandering commented on #829
Closed by belforte on Thu Dec 20 07:59:05 2012

[2013-10-31 20:43] ericvaandering commented on #829
Comment by belforte on Thu Dec 20 07:59:05 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #829 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #830 "report mysql DB size in CrabServer component page"
Original Savannah ticket 98378 reported by belforte on Mon Oct 22 14:23:10 2012.

so we can monitor DB growth w/o logging on crab server

Done, tested on vocms223 (cernint) and committed
/local/reps/CMSSW/COMP/CRAB/CRABSERVER/src/python/Plugins/HTTPFrontend/ComponentServicesMonitor.py,v  &lt;--  ComponentServicesMonitor.py
new revision: 1.31; previous revision: 1.30

[2013-10-31 20:43] ericvaandering commented on #830
Closed by belforte on Tue Oct 23 15:17:40 2012

[2013-10-31 20:43] ericvaandering commented on #830
Comment by belforte on Tue Oct 23 15:17:40 2012

released in CrabServer 1_1_7

[2013-10-31 20:43] #830 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #831 "for remoteGlidein make sure /tmp/$LOGNAME is secure"
Original Savannah ticket 98448 reported by belforte on Thu Oct 25 08:06:01 2012.

make sure /tmp/$LOGNAME is owned by user and only user can write, avoid to create /tmp/$LOGNAME/.ssh in a directory created by someone else

[2013-10-31 20:43] ericvaandering commented on #831
Comment by belforte on Mon Oct 29 16:35:58 2012

fix tested and committed
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.13; previous revision: 1.12

[2013-10-31 20:43] ericvaandering commented on #831
Closed by belforte on Thu Dec 20 07:58:46 2012

[2013-10-31 20:43] ericvaandering commented on #831
Comment by belforte on Thu Dec 20 07:58:46 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #831 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #832 "For remoteGlidein, some sane Hold defaults"
Original Savannah ticket 98450 reported by belforte on Thu Oct 25 08:29:20 2012.

By default, remoteGlidein will allow a job be on hold for 8 days before failure.

Sometimes the hold reason is transient and not the fault of the user.  CRAB and Dashboard doesn't appear to handle these well, so we might as well aggressive kill them.

I propose having a far shorter time between hold and removal, as w

[2013-10-31 20:43] ericvaandering commented on #832
Comment by belforte on Thu Oct 25 08:43:54 2012

fine of coure, but...
how do we separare responsibilitied and control between submitter (crab in this case) and frontend ?
I thought that also frontend adds conditions on when jobs are held/release/removed
Could they conflict ? who wins ?
And mostly, where do we want to have this kind of control ?

I add james and igor to the thread.

stefano

[2013-10-31 20:43] ericvaandering commented on #832
Comment by bbockelm on Thu Oct 25 12:32:08 2012

Hi,

There's a very good motivation for putting it in the schedd - we can update schedd policies more quickly than we can update the CRAB code.

However, it would apply to everything which uses the schedd.  To have different policies for different submitters would make things get complex.

Both can be in place - if either the SYSTEM_PERIODIC_RELEASE

[2013-10-31 20:43] ericvaandering commented on #832
Comment by sfiligoi on Thu Oct 25 14:11:08 2012

Yes, we should have the removes and releases defined in the system config.

As for &quot;different policies for different submitters&quot; it is indeed high time to standardize what a &quot;CMS submitter&quot; looks like.

We can discuss offline how to get there.

Igor

[2013-10-31 20:43] ericvaandering commented on #832
Comment by belforte on Thu Oct 25 14:28:31 2012

let's not get heated up.
I do not hope &quot;CMS&quot; can standardize anything.
But am all for putting in the common place things that are common.
So can we start with putting in the FE the expression Brian indicates. From what I understand by reading seems very good to me.
Once we see different users with different needs, we'll see.
I guess we nee

[2013-10-31 20:43] ericvaandering commented on #832
Comment by belforte on Thu Nov  8 10:29:45 2012

the more I think about this, the less I like to do this.
we should have a chat, but need to have a clear problem to solve, since to do this properly requires in the end to change the definition of jon Running, Aborted, Done.... and doing that w/o a Crab2-server-like-or-worse mess requires care.

so I am for postponing any action.

stefano

[2013-10-31 20:43] ericvaandering commented on #832
Comment by bbockelm on Thu Nov  8 18:27:06 2012

Hi Stefano,

I think it _is_ critical.  There are 185 jobs right now which will be stuck in &quot;running&quot; state for a week prior to actually telling the user there has been an unrecoverable error.

Such is a horrible user experience!  Even if you don't restart, you should abort them immediately.

Brian

[2013-10-31 20:43] ericvaandering opened #833 "make sure with remoteGlidein user can add custom lines to JDL"
Original Savannah ticket 98534 reported by belforte on Mon Oct 29 11:26:26 2012.

so Brian can experiment with e.g. resubmission policies for condor

[2013-10-31 20:43] ericvaandering commented on #833
Comment by belforte on Mon Nov  5 13:50:30 2012

done, tested, committed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.7; previous revision: 1.6

[2013-10-31 20:43] ericvaandering commented on #833
Comment by belforte on Thu Dec 20 07:58:23 2012

released in CRAB 2_8_4

[2013-10-31 20:43] ericvaandering commented on #833
Closed by belforte on Thu Dec 20 07:58:23 2012

[2013-10-31 20:43] #833 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #834 "limit task size when submitting to server"
Original Savannah ticket 98597 reported by belforte on Thu Nov  1 15:44:53 2012.

after &quot;wto incident&quot; we need to protect.
Put a limit at 5k jons per task. All tasks. Period.

Done on server side, crude change to TaskRegister, users get no message, but server ignores the task:
cvs update -r 1.26 TaskRegisterComponent.py

already tested and deployed everywhere.

Need to do this on client

[2013-10-31 20:43] ericvaandering commented on #834
Comment by belforte on Mon Nov  5 17:45:06 2012

done also for client, tested, committed
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.389; previous revision: 1.388

[2013-10-31 20:43] ericvaandering commented on #834
Closed by belforte on Thu Dec 20 07:57:58 2012

[2013-10-31 20:43] ericvaandering commented on #834
Comment by belforte on Thu Dec 20 07:57:58 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #834 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #835 "crab tries to use server for remoteGlidein scheduler"
Original Savannah ticket 98651 reported by belforte on Mon Nov  5 17:11:32 2012.

if users leave use_server=1 in crab.cfg, crab client
tries to use server mode on remoteGlidein server even if scheduler name should not match

[2013-10-31 20:43] ericvaandering commented on #835
Comment by belforte on Mon Nov 12 16:01:39 2012

fix committed and tested
/local/reps/CMSSW/COMP/CRAB/python/SubmitterServer.py,v  &lt;--  SubmitterServer.py
new revision: 1.105; previous revision: 1.104

[2013-10-31 20:43] ericvaandering commented on #835
Closed by belforte on Thu Dec 20 07:57:39 2012

[2013-10-31 20:43] ericvaandering commented on #835
Comment by belforte on Thu Dec 20 07:57:39 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #835 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #836 "allow remoteGlidein to use ssh insead of gsissh"
Original Savannah ticket 98652 reported by belforte on Mon Nov  5 17:13:03 2012.

e.g. via a config. parameter

also look into host actually being user@host
which may be useful for ssh

ideally could support that transparently

[2013-10-31 20:43] ericvaandering commented on #836
Comment by belforte on Mon Nov 12 14:48:33 2012

submission host configuration file now allows
a syntax like:
 'serverName' :'ssh:crab@submit-4.t2.ucsd.edu'

committed, partially tested, for full test need an rCondor submission host with ssh access.

/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revisio

[2013-10-31 20:43] ericvaandering commented on #836
Comment by belforte on Thu Dec 20 07:57:11 2012

released in CRAB 2_8_4

[2013-10-31 20:43] ericvaandering commented on #836
Closed by belforte on Thu Dec 20 07:57:11 2012

[2013-10-31 20:43] #836 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #837 "limit publication data set name length to 200bytes"
Original Savannah ticket 98762 reported by fanzago on Mon Nov 12 02:06:50 2012.

Hi again,

it is actually a file system limitation. We are using ext3 on that partition, which has a file name length limitation of 255 bytes. Unfortunately, that means we cannot provide any workarounds. I am sorry. However, maybe you can re-publish the dataset with a shorter name (~100 bytes).

@Stefano:
The file nam

[2013-10-31 20:43] ericvaandering commented on #837
Comment by fanzago on Fri Apr  5 05:28:28 2013

Hi,
in crab the user dataset name is composed by

/primaryDataset/username_publishDatasetName_psethash/USER

the limitations already implemented are related to the primaryDataset, it has to be &lt; 100 bytes and the complete LFN of file to publish that has to be &lt; 500 bytes.

I can add a check about the publishDatasetName (string written by the us

[2013-10-31 20:43] ericvaandering commented on #837
Comment by belforte on Fri Apr  5 06:34:02 2013

I added Manuel Giffels in CC, since he's the one to answer

[2013-10-31 20:43] ericvaandering opened #838 "update crab -help for latest remoteGlidein features"
Original Savannah ticket 98876 reported by belforte on Fri Nov 16 04:03:23 2012.

N/A

[2013-10-31 20:43] ericvaandering commented on #838
Comment by belforte on Fri Nov 16 07:58:45 2012

those are:
      allow_overflow=0  # opt-out from overflow
       data_location_override=T2_IT_Pisa # force overflow
       additional_jdl_parameters = customJDL; customJDL; ...
       max_rss=3000 # tell condor and watchdog to allow 3GB RSS

[2013-10-31 20:43] ericvaandering commented on #838
Comment by belforte on Fri Nov 16 08:30:11 2012

done and committed
/local/reps/CMSSW/COMP/CRAB/python/crab_help.py,v  &lt;--  crab_help.py
new revision: 1.172; previous revision: 1.171

[2013-10-31 20:43] ericvaandering commented on #838
Closed by belforte on Thu Dec 20 07:55:53 2012

[2013-10-31 20:43] ericvaandering commented on #838
Comment by belforte on Thu Dec 20 07:55:53 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #838 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #839 "remove obsolete options from crab -help"
Original Savannah ticket 98891 reported by belforte on Fri Nov 16 08:36:12 2012.

namely:
virtual_organization, maxtarballsize, skipwmsauth

mark as OBSOLETE until actually removed from code (if ever) but keep doc and code in sync.

[2013-10-31 20:43] ericvaandering commented on #839
Comment by belforte on Fri Nov 16 08:38:04 2012

done, committed
/local/reps/CMSSW/COMP/CRAB/python/crab_help.py,v  &lt;--  crab_help.py
new revision: 1.173; previous revision: 1.172

[2013-10-31 20:43] ericvaandering commented on #839
Closed by belforte on Thu Dec 20 07:55:31 2012

[2013-10-31 20:43] ericvaandering commented on #839
Comment by belforte on Thu Dec 20 07:55:31 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #839 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #840 "wrong site reported for remote Glidein"
Original Savannah ticket 98893 reported by belforte on Fri Nov 16 10:22:28 2012.

when the first matched site fails and condor goes for a different gatekeeper, condor_history -userlog still reports the first match and so crab client shows wrong site.

Igor will look at it. He may need to be reminded.

[2013-10-31 20:43] ericvaandering commented on #840
Comment by sfiligoi on Thu Dec 20 13:24:51 2012

I think I have fixed it, by improving on the way
JOB_Gatekeeper
is derived.

All jobs submitted from now on will have the new definition. Let's see if it works.
(it did work for my test jobs)

Igor

Detail:
Was
JOB_Gatekeeper = ifthenelse(\
MATCH_GLIDEIN_Gatekeeper=!=UNDEFINED,\
MATCH_GLIDEIN_Gatekeeper,Used_Gatekeeper)
now is
JOB_Gatekeeper = ifthe

[2013-10-31 20:43] ericvaandering commented on #840
Comment by belforte on Thu Dec 20 13:34:43 2012

thanks Igor,
so this is a change in FE and I need to do nothing on crab side.
Correct ?

[2013-10-31 20:43] ericvaandering commented on #840
Closed by belforte on Thu Dec 20 15:58:30 2012

[2013-10-31 20:43] ericvaandering commented on #840
Comment by belforte on Thu Dec 20 15:58:30 2012

since I can't find those lines in crab/boss code, I guess it is really in the FE/condor config and hence not Crab. So I close.

[2013-10-31 20:43] #840 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #841 "make crab -status update exit code for remoteGlidein"
Original Savannah ticket 98955 reported by belforte on Tue Nov 20 08:23:33 2012.

w/o need for crab -get, do the needed lookup of the xml on submit node side

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Mon Dec 10 02:06:52 2012

will wait for this to be available via condor_history
see
https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=3353,0

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Fri Jan 18 11:42:48 2013

put in submit host a small &quot;getexitcode&quot; command that takes as input the path and the jobid ?

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Mon Jan 21 09:12:41 2013

nope.
on submit host side only has condor cluster.job and no way to connect to crab jobId, the info is in crab db on client side

While waiting for condor solution, only possible hack is to pull back a summary file with exit code from all fjr files and use that in crab client.

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Mon Jan 21 10:47:24 2013

crab -peekCode  ?

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Mon Jan 21 11:15:11 2013

so in the end I gave up in making crab -status mess with exit code in local DB. Too much work for little gain, better worry about speeding up getoutput, if needed.

[2013-10-31 20:43] ericvaandering commented on #841
Closed by belforte on Mon Jan 21 11:15:11 2013

[2013-10-31 20:43] ericvaandering commented on #841
Open by belforte on Tue Jan 22 11:36:41 2013

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Tue Jan 22 11:36:41 2013

I found a way to do this in BossLite/ScheduerRemoteGlidein

need to cleanup my code before committing but it seems to work

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Thu Jan 24 05:30:35 2013

committed as
BossLite/Scheduler/SchedulerRemoteglidein.py
revision 1.22

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Thu Jan 24 15:36:39 2013

so this requires a new ProdCommon tag:
PRODCOMMON_0_12_18_CRAB_52

now in the tarball:
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.192; previous revision: 1.191

[2013-10-31 20:43] ericvaandering commented on #841
Comment by belforte on Tue Jan 29 06:39:45 2013

releases in CRAB_2_8_5

[2013-10-31 20:43] ericvaandering commented on #841
Closed by belforte on Tue Jan 29 06:39:45 2013

[2013-10-31 20:43] #841 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #842 "make message from watchdog more clear"
Original Savannah ticket 99007 reported by belforte on Thu Nov 22 06:15:17 2012.

exp. when maxwallclock time is exceeded, see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6284/1/1/1.html

[2013-10-31 20:43] ericvaandering commented on #842
Comment by belforte on Wed Dec 12 03:33:20 2012

done
/local/reps/CMSSW/COMP/CRAB/python/crabWatchdog.sh,v  &lt;--  crabWatchdog.sh
new revision: 1.13; previous revision: 1.12

[2013-10-31 20:43] ericvaandering commented on #842
Comment by belforte on Wed Dec 12 15:18:37 2012

also needed to change
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.105; previous revision: 1.104

[2013-10-31 20:43] ericvaandering commented on #842
Closed by belforte on Thu Dec 20 07:55:02 2012

[2013-10-31 20:43] ericvaandering commented on #842
Comment by belforte on Thu Dec 20 07:55:02 2012

released in CRAB 2_8_4

[2013-10-31 20:43] #842 closed, assigned to belforte

[2013-10-31 20:43] ericvaandering opened #843 "support MaxWallTime specification for glidein"
Original Savannah ticket 99008 reported by belforte on Thu Nov 22 06:18:30 2012.

do it for remoteGlidein at least
param is in crab.cfg already, make sure correct string is passed to glidein' JDL
Also need to pass limit to watchDog, as done for RSS
And set the default to 22h

[2013-10-31 20:43] ericvaandering commented on #843
Comment by belforte on Tue Nov 27 16:53:43 2012

current situation:
in crab.cfg, from crab -help
[GRID]
max_wall_clock_time

glidein wants (from Igor):
MaxWallTimeMins

in CRAB/SchedulerGrid.py have

self.EDG_clock_time = cfg_params.get('GRID.max_wall_clock_time',None)

and already

SchedulerRemoteglidein.py:        if (self.EDG_clock_time):
SchedulerRemoteglidein.py:            jobParams += '+Max

[2013-10-31 20:44] ericvaandering commented on #843
Comment by belforte on Wed Nov 28 10:06:46 2012

fix tested and committed. More tests are needed to make sure glidein handles things properly etc.

/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.391; previous revision: 1.390

/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.9; previous revisio

[2013-10-31 20:44] ericvaandering commented on #843
Comment by belforte on Wed Dec 12 15:20:40 2012

small fix needed:
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.10; previous revision: 1.9

[2013-10-31 20:44] ericvaandering commented on #843
Comment by belforte on Thu Dec 20 07:54:46 2012

released in CRAB 2_8_4

[2013-10-31 20:44] ericvaandering commented on #843
Closed by belforte on Thu Dec 20 07:54:46 2012

[2013-10-31 20:44] #843 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #844 "add 3rd parti stage out from WN after local fallback"
Original Savannah ticket 99111 reported by belforte on Tue Nov 27 10:22:13 2012.

see contribution by Bockjoo
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6294/2/1/1/3.html

[2013-10-31 20:44] ericvaandering opened #845 "allow more time for edmConfigHash"
Original Savannah ticket 99207 reported by belforte on Sun Dec  2 15:35:19 2012.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6322/1/1/1/1/1/1/1/1/1/1/1.html

[2013-10-31 20:44] ericvaandering commented on #845
Closed by belforte on Fri Dec 21 07:21:46 2012

[2013-10-31 20:44] ericvaandering commented on #845
Comment by belforte on Fri Dec 21 07:21:46 2012

It turned out that day there was some problem at LPC, there's no indication that minutes are needed by edmConfigHash.
All in all this problem only happened once in years.
So let's try to ignore.

[2013-10-31 20:44] #845 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #846 "job splitting is not reproducible"
Bug 76613

2011-11-02 00:02, comment #1:
will not be fixed in Crab2, required change is too big
stefano belforte <belforte>
Project Administrator

2010-12-21 12:36, original submission:
as reported to DORP
https://twiki.cern.ch/twiki/bin/vie...
not sure if to call it a bug or a feature, but I think we need a ticket to track progress in deciding what to do and for reference in case we decide to cha

[2013-10-31 20:44] ericvaandering opened #847 "crab log is too verbose"
Original Savannah ticket 99330 reported by belforte on Fri Dec  7 16:19:51 2012.

it has e.g. list of all msgs sent to dashboard,
at least for remoteGlidein

[2013-10-31 20:44] ericvaandering commented on #847
Comment by belforte on Fri Dec 14 10:19:35 2012

I had enabled a logging for debug some time ago.
Turn in back off.
/local/reps/CMSSW/COMP/CRAB/python/Submitter.py,v  &lt;--  Submitter.py
new revision: 1.188; previous revision: 1.187

[2013-10-31 20:44] ericvaandering commented on #847
Closed by belforte on Thu Dec 20 07:54:26 2012

[2013-10-31 20:44] ericvaandering commented on #847
Comment by belforte on Thu Dec 20 07:54:26 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #847 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #848 "something wrong with wall time arithmetic in watchDog"
Original Savannah ticket 99383 reported by belforte on Tue Dec 11 08:55:33 2012.

CMSSW_stdout has lines like

/wntmp/condor/compute-14-13/execute/dir_26827/https_3a_2f_2fwms308.cern.ch_3a9000_2fMxHfAne5-4HHtL6LvWg1nA/crabWatchdog.sh: line 147: let: cpuTime=10#50+10#38_60+10#1-09: value too great for base (error token is &quot;09&quot;)
/wntmp/condor/compute-14-13/execute/dir_26827/https_3a_2f_2fw

[2013-10-31 20:44] ericvaandering commented on #848
Comment by belforte on Tue Dec 11 10:55:02 2012

fixed
/local/reps/CMSSW/COMP/CRAB/python/crabWatchdog.sh,v  &lt;--  crabWatchdog.sh
new revision: 1.12; previous revision: 1.11

[2013-10-31 20:44] #846 closed, assigned to nobody

[2013-10-31 20:44] ericvaandering commented on #848
Closed by belforte on Thu Dec 20 07:53:27 2012

[2013-10-31 20:44] ericvaandering commented on #848
Comment by belforte on Thu Dec 20 07:53:27 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #848 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #849 "watchdog elapsed time accounting is wrong for glidein"
Original Savannah ticket 99403 reported by belforte on Wed Dec 12 03:40:36 2012.

since it takes elapsed time from process group tree, it looks at time since pilot started, but pilot may have run more jobs already.
need to use time stamp.

also cpu accounting may be wrong, but not as easy to fix.
All in all we may never limit on CPU time, and anyhow pilot should not use so much of it to make a sig

[2013-10-31 20:44] ericvaandering commented on #849
Comment by belforte on Wed Dec 12 08:04:26 2012

fix tested and committed
/local/reps/CMSSW/COMP/CRAB/python/crabWatchdog.sh,v  &lt;--  crabWatchdog.sh
new revision: 1.14; previous revision: 1.13

[2013-10-31 20:44] ericvaandering commented on #849
Closed by belforte on Thu Dec 20 07:52:21 2012

[2013-10-31 20:44] ericvaandering commented on #849
Comment by belforte on Thu Dec 20 07:52:21 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #849 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #850 "take proper care of failure in crab -get for glidein"
Original Savannah ticket 99424 reported by belforte on Wed Dec 12 15:11:32 2012.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6369/1/1/1.html

[2013-10-31 20:44] ericvaandering commented on #850
Comment by belforte on Fri Dec 14 10:22:07 2012

fixed and tested
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.17; previous revision: 1.16

will need a new PRODCOMMON tag in Crab client

PRODCOMMON_0_12_18_CRAB_46

[2013-10-31 20:44] ericvaandering commented on #850
Comment by belforte on Fri Dec 14 10:26:28 2012

crab client dependency updated to new PRODCOMMON_0_12_18_CRAB_46

/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.184; previous revision: 1.183

[2013-10-31 20:44] ericvaandering commented on #850
Closed by belforte on Thu Dec 20 07:51:57 2012

[2013-10-31 20:44] ericvaandering commented on #850
Comment by belforte on Thu Dec 20 07:51:57 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #850 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #851 "make default wall limit 22h for glidein"
Original Savannah ticket 99459 reported by None on Fri Dec 14 06:08:22 2012.

to avoid condor cancelling the jobs
users who need more need to declare it
explicitely

allow for asking more then 48h

[2013-10-31 20:44] ericvaandering commented on #851
Comment by belforte on Tue Dec 18 10:37:45 2012

fixed, committed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.11; previous revision: 1.10

[2013-10-31 20:44] ericvaandering commented on #851
Closed by belforte on Thu Dec 20 07:50:57 2012

[2013-10-31 20:44] ericvaandering commented on #851
Comment by belforte on Thu Dec 20 07:50:57 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #851 closed, assigned to ericvaandering

[2013-10-31 20:44] ericvaandering opened #852 "MaxWallTimeMins not properly honored by remoteGlidein"
Original Savannah ticket 99535 reported by belforte on Tue Dec 18 09:28:11 2012.

I set it to 10min but jobs are removed after 3min

[2013-10-31 20:44] ericvaandering commented on #852
Comment by belforte on Tue Dec 18 09:31:14 2012

tracked by Igor Sfiligoi to bad parenthesis in Periodic_Remove expression. Bug was there already in glidein schduler (server).

Fixed, tested, and committed
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.18; previous revision: 1.17

I am not bo

[2013-10-31 20:44] ericvaandering commented on #852
Comment by belforte on Tue Dec 18 10:41:03 2012

PRODCOMMON tagged ad added in
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.185; previous revision: 1.184

[2013-10-31 20:44] ericvaandering commented on #852
Closed by belforte on Thu Dec 20 07:48:36 2012

[2013-10-31 20:44] ericvaandering commented on #852
Comment by belforte on Thu Dec 20 07:48:36 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #852 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #853 "limit write permission in crab wrapper"
Original Savannah ticket 99554 reported by belforte on Wed Dec 19 09:58:57 2012.

crab wrapper currently does a chmod a+w, should be +w only
ref. https://savannah.cern.ch/bugs/index.php?78585

[2013-10-31 20:44] ericvaandering commented on #853
Comment by belforte on Wed Dec 19 10:02:31 2012

fixed, tested, committed
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.392; previous revision: 1.391

[2013-10-31 20:44] ericvaandering commented on #853
Closed by belforte on Thu Dec 20 07:49:23 2012

[2013-10-31 20:44] ericvaandering commented on #853
Comment by belforte on Thu Dec 20 07:49:23 2012

released in CRAB 2_8_4

[2013-10-31 20:44] #853 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #854 "print message if user is not in dev SiteDB"
Original Savannah ticket 99588 reported by fanzago on Thu Dec 20 16:00:47 2012.

i.e. if user has not registered in CERN SSO yet

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Fri Jan  4 07:40:29 2013

step 1.

modified WMCore to allow use of cmsweb-dev which already points to CERN SSO
/local/reps/CMSSW/COMP/WMCORE/src/python/WMCore/Services/SiteDB/SiteDB.py,v  &lt;--  SiteDB.py
new revision: 1.19; previous revision: 1.18

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Fri Jan  4 07:51:14 2013

step 2.
tag a new WMCore with the change, WMCORE_CRAB2_2
and use that in Crab2
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.186; previous revision: 1.185

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Fri Jan  4 09:16:56 2013

step 3.
modify crab_util.py to try first cmsweb-dev, if that works, all OK, if not but cmsweb production does work, means user needs to map in cern SSO, so force user to read a message about this

/local/reps/CMSSW/COMP/CRAB/python/crab_util.py,v  &lt;--  crab_util.py
new revision: 1.123; previous revision: 1.122

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Mon Jan  7 08:58:05 2013

it appears cmsweb-dev is not at all what I thought it was and
step 1. was stupid and wrong.
So I roll back both that and 2.
and will implement 3. in some other way.

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Mon Jan  7 09:36:59 2013

seems something like this will do, will decide
if to put it in crab to &quot;force users to do&quot; or simply
advice them to run it

#!/bin/sh
myDN=`voms-proxy-info -identity`

echo myDN is ${myDN}

curl -s  --capath $X509_CERT_DIR --cert $X509_USER_PROXY --key $X509_USER_PROXY 'https://cmsweb-testbed.cern.ch/sitedb/data/dev/people' | grep -q &quot

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Fri Jan 11 10:06:42 2013

..mmhh..
maybe simply add this code in the existing test script:
https://twiki.cern.ch/twiki/bin/view/CMS/SiteDBForCRAB#Check_HN_name_extraction

also tell users to run it as
 python $CRABPYTHON/check_HN_Name.py

no need to download from twiki.

this would also make it easy to run it from crab if useful

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Tue Jan 15 02:35:10 2013

actually no reason to use cmsweb-testbed.
these works:

current SiteDB:
curl -s --capath $X509_CERT_DIR --cert $X509_USER_PROXY --key $X509_USER_PROXY 'https://cmsweb.cern.ch/sitedb/data/prod/people'

new SiteDB based on CERN SSO
curl -s --capath $X509_CERT_DIR --cert $X509_USER_PROXY --key $X509_USER_PROXY 'https://cmsweb.cern.ch/sitedb/data/dev/pe

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Wed Jan 16 09:39:13 2013

check_HN_Name.py modified:

/local/reps/CMSSW/COMP/CRAB/python/check_HN_Name.py,v  &lt;--  check_HN_Name.py
new revision: 1.4; previous revision: 1.3

[2013-10-31 20:44] ericvaandering commented on #854
Comment by lolass on Thu Jan 24 05:33:04 2013

MOdifications
- COMP/CRAB/python/DBinterface.py : in function crateTask add:

[code]
- COMP/CRAB/python/crab_util.py : new function:

def checkNewSiteDB():

[code]

[2013-10-31 20:44] ericvaandering commented on #854
Closed by belforte on Tue Jan 29 06:40:07 2013

[2013-10-31 20:44] ericvaandering commented on #854
Comment by belforte on Tue Jan 29 06:40:07 2013

released in CRAB_2_8_5

[2013-10-31 20:44] #854 closed, assigned to fanzago

[2013-10-31 20:44] ericvaandering opened #855 "make crab job wrapper protect its directory"
Original Savannah ticket 99592 reported by belforte on Thu Dec 20 17:26:48 2012.

security fix:
files on WN should not be accessible by anybody but the owner

[2013-10-31 20:44] ericvaandering commented on #855
Comment by belforte on Fri Dec 21 08:37:11 2012

set umask at the beginning of job to allow only user access
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.106; previous revision: 1.105

[2013-10-31 20:44] ericvaandering commented on #855
Comment by belforte on Fri Dec 21 08:50:31 2012

also protect sandbox files
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.107; previous revision: 1.106

[2013-10-31 20:44] ericvaandering commented on #855
Comment by belforte on Fri Dec 21 09:11:18 2012

and enforce umask permission when untarring sandbox,
no need for a chmod in cms_cmssw.py

/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.393; previous revision: 1.392

[2013-10-31 20:44] ericvaandering commented on #855
Comment by belforte on Tue Jan  8 09:31:53 2013

did not notice that proxy file must be kept w/o the -x, i.e. can not be give 0700 permission.
fix committed
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.109; previous revision: 1.108

[2013-10-31 20:44] ericvaandering commented on #855
Comment by belforte on Tue Jan  8 10:51:13 2013

released in CRAB_2_8_4_patch2

[2013-10-31 20:44] ericvaandering commented on #855
Closed by belforte on Tue Jan  8 10:51:13 2013

[2013-10-31 20:44] #855 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #856 "adapt to new stdout location in condor 7.7+"
Original Savannah ticket 99641 reported by belforte on Thu Jan  3 06:22:47 2013.

stdout is not directed to CMSSW_x.stdout on WN anymore,
as Igor explained

On 01/02/2013 10:24 PM, Igor Sfiligoi wrote:&gt; The problem is that it is not called
&gt; CMSSW_1.stdout
&gt; on the WN anymore!
&gt;
&gt; It is still there, but it is called
&gt; _condor_stdout
&gt; starting with 7.7.2.

so we need to find _

[2013-10-31 20:44] ericvaandering commented on #856
Comment by belforte on Thu Jan  3 13:57:13 2013

preliminary fix tested
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.12; previous revision: 1.11

later on will protect against condor possibly changing location again, as Igor suggested:

-------- Original Message --------
Subject: Re: submit-2 testing
Resent-Date: Thu,  3 Jan 2013

[2013-10-31 20:44] ericvaandering commented on #856
Comment by belforte on Thu Jan  3 16:56:47 2013

for reference:
https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=3409

[2013-10-31 20:44] ericvaandering commented on #856
Comment by belforte on Sat Jan  5 10:20:57 2013

moved the definitive, longer term solution to a new ticket:
https://savannah.cern.ch/bugs/index.php?99661

so this can be closed as soon as the change already done is released in production

[2013-10-31 20:44] ericvaandering commented on #856
Comment by belforte on Tue Jan  8 10:51:53 2013

released in CRAB_2_8_4_patch2

[2013-10-31 20:44] ericvaandering commented on #856
Closed by belforte on Tue Jan  8 10:51:53 2013

[2013-10-31 20:44] #856 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #857 "better gsissh config. params for remoteGlidein"
Original Savannah ticket 99647 reported by belforte on Thu Jan  3 16:51:43 2013.

-------- Original Message --------
Subject: Useful ssh options
Date: Fri, 28 Dec 2012 16:46:13 -0800
From: Igor Sfiligoi &lt;sfiligoi@fnal.gov&gt;
To: Stefano Belforte &lt;stefano.belforte@ts.infn.it&gt;
CC: James Letts &lt;letts@physics.ucsd.edu&gt;

Hi Stefano.

You should add
-o BatchMode=yes -o StrictHostKeyCheck

[2013-10-31 20:44] ericvaandering commented on #857
Comment by belforte on Fri Jan  4 09:35:45 2013

Also
 -o ForwardX11=no
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6393/1.html

[2013-10-31 20:44] ericvaandering commented on #857
Comment by belforte on Fri Jan  4 09:40:08 2013

committed
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.19; previous revision: 1.18

will need a new ProdCommon tag for Crab client

[2013-10-31 20:44] ericvaandering commented on #857
Comment by belforte on Fri Jan  4 09:43:53 2013

the new tag is  PRODCOMMON_0_12_18_CRAB_48
and I added to PrepareTaball

/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.187; previous revision: 1.186

[2013-10-31 20:44] ericvaandering commented on #857
Comment by belforte on Tue Jan  8 10:52:32 2013

released in CRAB_2_8_4_patch2

[2013-10-31 20:44] ericvaandering commented on #857
Closed by belforte on Tue Jan  8 10:52:32 2013

[2013-10-31 20:44] #857 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #858 "RequestMemory too high"
Original Savannah ticket 99657 reported by belforte on Fri Jan  4 18:35:17 2013.

RequestMemory is set to 2300 which will not match any factory pilots, which need &lt;2000.

[2013-10-31 20:44] ericvaandering commented on #858
Comment by belforte on Sat Jan  5 10:10:02 2013

change committed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.13; previous revision: 1.12

[2013-10-31 20:44] ericvaandering commented on #858
Comment by belforte on Tue Jan  8 10:52:10 2013

released in CRAB_2_8_4_patch2

[2013-10-31 20:44] ericvaandering commented on #858
Closed by belforte on Tue Jan  8 10:52:10 2013

[2013-10-31 20:44] #858 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #859 "jobs wrapper should autodetect stdout/stderr location for OSB"
Original Savannah ticket 99661 reported by belforte on Sat Jan  5 10:20:23 2013.

this will be general and definitive fix for
https://savannah.cern.ch/bugs/index.php?99641

as Igor indicated:
-------- Original Message --------
Subject: Re: submit-2 testing
Resent-Date: Thu, 3 Jan 2013 18:18:32 +0100 (CET)
Resent-From: &lt;stefano.belforte@cern.ch&gt;
Date: Thu, 3 Jan 2013 09:18:22 -0800
From: Igor

[2013-10-31 20:44] ericvaandering commented on #859
Comment by belforte on Wed Jun  5 12:26:07 2013

fix tested and committed, now use /proc/$$/fd as suggested

/local/reps/CMSSW/COMP/CRAB/python/Scheduler.py,v  &lt;--  Scheduler.py
new revision: 1.106; previous revision: 1.105

[2013-10-31 20:44] ericvaandering commented on #859
Closed by belforte on Fri Jul 12 04:59:14 2013

[2013-10-31 20:44] ericvaandering commented on #859
Comment by belforte on Fri Jul 12 04:59:14 2013

released in Crab client 2_8_8

[2013-10-31 20:44] #859 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #860 "uploadLog reports error for remoteGlidein"
Original Savannah ticket 99683 reported by belforte on Mon Jan  7 09:45:25 2013.

or at least for that.

&gt;
&gt; http://cmsdoc.cern.ch:80/cms/LCG/crab/config/server_submit-2.t2.ucsd.edu.conf&lt;http://cmsdoc.cern.ch:80/cms/LCG/crab/config/server_submit-2.t2.ucsd.edu.confis&amp;gt;
&gt; is unavailable - it returned 404 because Not Found
&gt;
harmless.
But it seems there's a typo somewhere since t

[2013-10-31 20:44] ericvaandering commented on #860
Comment by belforte on Thu Sep 12 07:51:19 2013

fixed
/local/reps/CMSSW/COMP/CRAB/python/ReportUploader.py,v  &lt;--  ReportUploader.py
new revision: 1.8; previous revision: 1.7

[2013-10-31 20:44] ericvaandering opened #861 "add LStore to storage protocols"
Original Savannah ticket 99707 reported by belforte on Tue Jan  8 13:26:35 2013.

for Vanderbilt, as from Andrew
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1632/1/1/1/1.html

[2013-10-31 20:44] ericvaandering commented on #861
Comment by belforte on Wed Jan  9 07:19:52 2013

Done:
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/Storage/SEAPI/ProtocolLStore.py,v  &lt;--  ProtocolLStore.py
initial revision: 1.1
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/Storage/SEAPI/SBinterface.py,v  &lt;--  SBinterface.py
new revision: 1.38; previous revision: 1.37
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCo

[2013-10-31 20:44] ericvaandering commented on #861
Closed by belforte on Tue Jan 29 06:40:24 2013

[2013-10-31 20:44] ericvaandering commented on #861
Comment by belforte on Tue Jan 29 06:40:24 2013

released in CRAB_2_8_5

[2013-10-31 20:44] #861 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #862 "use local protocol for stageout if possible"
Original Savannah ticket 99708 reported by belforte on Tue Jan  8 13:28:47 2013.

if runing at same site as stageout destination try local protocol before lcg-cp

in the very short term could make this work for Vanderbily/Lstore only

[2013-10-31 20:44] ericvaandering commented on #862
Comment by belforte on Wed Jan  9 09:00:58 2013

initial step:
check in Andrew code forcing LStore to be tried first whenver staging out from Vanderbilt
/local/reps/CMSSW/COMP/CRAB/python/cmscp.py,v  &lt;--  cmscp.py
new revision: 1.94; previous revision: 1.93

[2013-10-31 20:44] ericvaandering commented on #862
Comment by belforte on Fri Jan 11 08:02:35 2013

TUrns out there is no need for the general solution,
I simply replaced check of host name with check that
local SE (from site-local-config) and remote SE (from
crab stageout) are the same and are at vanderbilt.edu,
and then try Lstore.

And close here.

/local/reps/CMSSW/COMP/CRAB/python/cmscp.py,v  &lt;--  cmscp.py
new revision: 1.95; previous revi

[2013-10-31 20:44] ericvaandering commented on #862
Comment by belforte on Tue Jan 29 06:40:42 2013

released in CRAB_2_8_5

[2013-10-31 20:44] ericvaandering commented on #862
Closed by belforte on Tue Jan 29 06:40:42 2013

[2013-10-31 20:44] #862 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #863 "cmscp put /temp in LFN even if stageout worked and fallback was not used"
Original Savannah ticket 99733 reported by fanzago on Thu Jan 10 09:49:41 2013.

see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6438/3/1/1/1/1.html

there seems to be 3 problems:
1. a message about stageout failing and exti code set to 60307, but no detail reported
2. another message later saying it is all ok and exit code is 0
3. no evidence for local fallback stageout to have been

[2013-10-31 20:44] ericvaandering opened #864 "race condition in job wrapper"
Original Savannah ticket 99758 reported by belforte on Fri Jan 11 14:38:06 2013.

CMSSW.sh does a
mv $RUNTIME_AREA/rssLimit .
after starting watchDog with
${RUNTIME_AREA}/crabWatchdog.sh &amp;

but in some case it may happen that file is moved before
crabWatchdog.sh had a chance to read it.

if a copy in '.' is needed, should use cp, not mv

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeed

[2013-10-31 20:44] ericvaandering commented on #864
Comment by belforte on Fri Jan 18 11:16:56 2013

fixed and committed
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.394; previous revision: 1.393

[2013-10-31 20:44] ericvaandering commented on #864
Closed by belforte on Tue Jan 29 06:41:10 2013

[2013-10-31 20:44] ericvaandering commented on #864
Comment by belforte on Tue Jan 29 06:41:10 2013

released in CRAB_2_8_5

[2013-10-31 20:44] #864 closed, assigned to belforte

[2013-10-31 20:44] ericvaandering opened #865 "add postMortem for remoteGlidein"
Original Savannah ticket 99796 reported by belforte on Mon Jan 14 11:12:15 2013.

make it print the HeldReason or the CancelReason, whichever apply

[2013-10-31 20:44] ericvaandering commented on #865
Comment by belforte on Fri Jan 18 06:47:17 2013

initial implementation done, requires a change on portMortem signature in Scheduler\* in BossLite, a new PRODCOMMON tag will be needed.

/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/Scheduler.py,v  &lt;--  Scheduler.py
new revision: 1.49; previous revision: 1.48
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/Bo

[2013-10-31 20:45] ericvaandering commented on #865
Comment by belforte on Fri Jan 18 09:19:15 2013

New tag made in CVS:
PRODCOMMON_0_12_18_CRAB_50

[2013-10-31 20:45] ericvaandering commented on #865
Comment by belforte on Fri Jan 18 09:25:04 2013

new PRODCOMMON_0_12_18_CRAB_50 now in tarball
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.190; previous revision: 1.189

[2013-10-31 20:45] ericvaandering commented on #865
Comment by belforte on Fri Jan 18 09:44:58 2013

commits completed.

few small changes to crab needed for clean reporting:
/local/reps/CMSSW/COMP/CRAB/python/CondorGLoggingInfo.py,v  &lt;--  CondorGLoggingInfo.py
new revision: 1.4; previous revision: 1.3

/local/reps/CMSSW/COMP/CRAB/python/PostMortem.py,v  &lt;--  PostMortem.py
new revision: 1.25; previous revision: 1.24

[2013-10-31 20:45] ericvaandering commented on #865
Comment by belforte on Tue Jan 29 06:40:57 2013

released in CRAB_2_8_5

[2013-10-31 20:45] ericvaandering commented on #865
Closed by belforte on Tue Jan 29 06:40:57 2013

[2013-10-31 20:45] #865 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #866 "keep proxy writable on WN"
Original Savannah ticket 99887 reported by belforte on Thu Jan 17 15:49:00 2013.

in the WN set proxy protection to 0600, not 0400, see
https://savannah.cern.ch/support/index.php?135146

[2013-10-31 20:45] ericvaandering commented on #866
Comment by belforte on Thu Jan 17 15:50:49 2013

fixed
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.110; previous revision: 1.109

[2013-10-31 20:45] ericvaandering commented on #866
Comment by belforte on Fri Jan 18 05:06:58 2013

released in CRAB_2_8_4_patch3

[2013-10-31 20:45] ericvaandering commented on #866
Closed by belforte on Fri Jan 18 05:07:09 2013

[2013-10-31 20:45] #866 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #867 "do not rely in gsiscp exit code"
Original Savannah ticket 99906 reported by belforte on Fri Jan 18 09:56:12 2013.

there are several reports of spurious errors in crab -get, I could reproduce this and indeed even from CLI gsiscp completes all OK but exit code is 1. Even using verbose option, no error message. It may be related to stale Control Socket, hard to prove, but in my case it started to report correct exit code after remo

[2013-10-31 20:45] ericvaandering commented on #867
Comment by belforte on Fri Jan 18 10:29:55 2013

fix tested and committed
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.21; previous revision: 1.20

a new ProdCommon tag will be needed

[2013-10-31 20:45] ericvaandering commented on #867
Comment by belforte on Fri Jan 18 10:42:41 2013

this is PRODCOMMON_0_12_18_CRAB_51
put in tarball:

/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.191; previous revision: 1.190

[2013-10-31 20:45] ericvaandering commented on #867
Closed by belforte on Tue Jan 29 06:41:30 2013

[2013-10-31 20:45] ericvaandering commented on #867
Comment by belforte on Tue Jan 29 06:41:30 2013

released in CRAB_2_8_5

[2013-10-31 20:45] #867 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #868 "add bad option to crab -resubmit"
Original Savannah ticket 99941 reported by belforte on Mon Jan 21 04:16:36 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1635.html

Hi,
  I'd like to propose you a new feature for crab2, that allows to
resubmit the set of failed jobs without having to copy-paste by hand the
list(s) of failed jobs from -status output.

The use case should be obvious: it is particularly impo

[2013-10-31 20:45] ericvaandering commented on #868
Closed by belforte on Mon Jan 21 04:20:53 2013

[2013-10-31 20:45] ericvaandering commented on #868
Comment by belforte on Mon Jan 21 04:20:53 2013

my mistake. this existed already

[2013-10-31 20:45] #868 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #869 "implement crab -resubmit bad"
Original Savannah ticket 99942 reported by belforte on Mon Jan 21 04:19:51 2013.

Hi,
  I'd like to propose you a new feature for crab2, that allows to
resubmit the set of failed jobs without having to copy-paste by hand the
list(s) of failed jobs from -status output.

The use case should be obvious: it is particularly important in case
multicrab is used. In that case it is not possible to resubmi

[2013-10-31 20:45] ericvaandering commented on #869
Comment by slacapra on Thu Jan 17 10:25:20 2013

Committed into CVS

Modified Files:
        crab.py Resubmitter.py ResubmitterServer.py
Log Message:
implement -resubmit bad as per task #39244

[2013-10-31 20:45] ericvaandering commented on #869
Comment by belforte on Mon Jan 21 04:19:51 2013

This item has been reassigned from the project CRAB task tracker to your tracker.

The original report is still available at task #39244

Following are the information included in the original report:
- [field #0]                  Item ID: 39244
- [field #1]                 Group ID: 265
- [field #2]              Open/Closed: Closed
- [field #3]

[2013-10-31 20:45] ericvaandering commented on #869
Closed by belforte on Tue Jan 29 06:42:40 2013

[2013-10-31 20:45] ericvaandering commented on #869
Comment by belforte on Tue Jan 29 06:42:40 2013

released in CRAB_2_8_5

[2013-10-31 20:45] #869 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #870 "summary wrapper disappeared"
Original Savannah ticket 100015 reported by belforte on Thu Jan 24 05:28:46 2013.

as reported by Charles Maguire:

2) In previous CRAB versions, the stdout file has contained lines like

   CrabUserCpuTime=5521.28
   CrabSysCpuTime=58.40
   CrabCpuPercentage=32%
   CrabWrapperTime=17214
   CrabStageoutTime=84

but these lines are not in the present version.  Is there some
option I should be choos

[2013-10-31 20:45] ericvaandering commented on #870
Comment by belforte on Thu Jan 24 15:26:34 2013

I had not properly moved things from plugin-specific to common Scheduler.py in last fix for OSB size, not is is OK.

fixed, tested, committed
/local/reps/CMSSW/COMP/CRAB/python/Scheduler.py,v  &lt;--  Scheduler.py
new revision: 1.105; previous revision: 1.104

[2013-10-31 20:45] ericvaandering commented on #870
Closed by belforte on Tue Jan 29 06:41:45 2013

[2013-10-31 20:45] ericvaandering commented on #870
Comment by belforte on Tue Jan 29 06:41:45 2013

released in CRAB_2_8_5

[2013-10-31 20:45] #870 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #871 "remove postMortem all"
Original Savannah ticket 100041 reported by belforte on Fri Jan 25 01:52:54 2013.

should only be allowed for one job at a time,
reduce risk of useless, harmful, requests, like storms of glite-loggin-info or condor_q

[2013-10-31 20:45] ericvaandering commented on #871
Comment by belforte on Fri Jan 25 14:54:31 2013

only allow one job in each postMortem command
/local/reps/CMSSW/COMP/CRAB/python/crab.py,v  &lt;--  crab.py
new revision: 1.245; previous revision: 1.244

[2013-10-31 20:45] ericvaandering commented on #871
Closed by belforte on Tue Jan 29 06:42:08 2013

[2013-10-31 20:45] ericvaandering commented on #871
Comment by belforte on Tue Jan 29 06:42:08 2013

released in CRAB_2_8_5

[2013-10-31 20:45] #871 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #872 "problem retrieving CRAB output at Brunel T2"
Original Savannah ticket 100075 reported by belforte on Fri Jan 25 10:23:29 2013.

I'm having problems retrieving the output of jobs submitted to T2_UK_Brunel.

The error message I'm receiving is:

StageOutExitStatusReason = 'Problem copying /scratch/1014503.dc2-grid-68.brunel.ac.uk/glide_Pz2y1h/execute/dir_17867/CMSSW_5_3_7/ExoDiPhotonAnalyzer_54_3_cif.root file Error copying [/scratch/1014503.dc

[2013-10-31 20:45] ericvaandering commented on #872
Closed by belforte on Mon Jan 28 07:31:43 2013

[2013-10-31 20:45] ericvaandering commented on #872
Comment by belforte on Mon Jan 28 07:31:43 2013

for help on crab see
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCrab#Getting_Support

[2013-10-31 20:45] #872 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #873 "use cmsweb, not cmsweb-testbed for SiteDB checking"
Original Savannah ticket 100078 reported by belforte on Fri Jan 25 14:15:55 2013.

thanks Diego for spotting this.
Stupid mistake of mine, I wrote the right thing in Savannah and wrong one in the code.

[2013-10-31 20:45] ericvaandering commented on #873
Comment by belforte on Fri Jan 25 14:18:21 2013

fix committed
/local/reps/CMSSW/COMP/CRAB/python/crab_util.py,v  &lt;--  crab_util.py
new revision: 1.129; previous revision: 1.128

/local/reps/CMSSW/COMP/CRAB/python/check_HN_Name.py,v  &lt;--  check_HN_Name.py
new revision: 1.5; previous revision: 1.4

[2013-10-31 20:45] ericvaandering commented on #873
Closed by belforte on Tue Jan 29 06:39:03 2013

[2013-10-31 20:45] ericvaandering commented on #873
Comment by belforte on Tue Jan 29 06:39:03 2013

releases in CRAB_2_8_5

[2013-10-31 20:45] #873 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #874 "improve readability of -status"
Original Savannah ticket 100080 reported by belforte on Fri Jan 25 14:21:46 2013.

For large task, the readability of -status is low: the printout is typically too long and the important information are not immediately visible.

I propose two improvement:

1) the possibility to switch off the printout of the status of each job

2) the possibility to color the output, it the output stream allows fo

[2013-10-31 20:45] ericvaandering commented on #874
Comment by slacapra on Fri Jan 25 05:09:11 2013

commit into CVS an implementation.

crab.py
crab_util.py
Status.py

Stefano

[2013-10-31 20:45] ericvaandering commented on #874
Comment by belforte on Fri Jan 25 14:21:46 2013

This item has been reassigned from the project CRAB task tracker to your tracker.

The original report is still available at task #39391

Following are the information included in the original report:
- [field #0]                  Item ID: 39391
- [field #1]                 Group ID: 265
- [field #2]              Open/Closed: Open
- [field #3]

[2013-10-31 20:45] ericvaandering commented on #874
Comment by belforte on Fri Jan 25 14:25:03 2013

commits imported in latest tag CRAB_2_8_5_pre5
those are:
       crab.py crab_util.py Status.py crab_help.py

[2013-10-31 20:45] ericvaandering commented on #874
Comment by belforte on Fri Jan 25 14:56:11 2013

but I disabled coloring of standard header and trailer
of crab commands. To keep same look as before. If you like to have them Stefano, I suggest to use an option in crab.cfg

[2013-10-31 20:45] ericvaandering commented on #874
Comment by belforte on Tue Jan 29 06:38:30 2013

released in CRAB_2_8_5

[2013-10-31 20:45] ericvaandering commented on #874
Closed by belforte on Tue Jan 29 06:38:30 2013

[2013-10-31 20:45] #874 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #875 "if resubmit fails, jobs status is set to created not back to original"
Original Savannah ticket 100144 reported by None on Tue Jan 29 03:24:57 2013.

If a crab -resubmit fails (for whatever reason, eg no resource found, or anything else) the status is not set to the original one, but to &quot;Created&quot;.

So, if one want to try an other resubmit (eg, changing the white/black list) the -resubmit will not work. Instead plain &quot;submit&quot; has to be used.

The p

[2013-10-31 20:45] ericvaandering commented on #875
Comment by belforte on Tue Jan 29 05:22:31 2013

to submit only e.g. job 8, try:
crab -submit 8,
note the comma at the end, you need to basically
pass a one-number range w/o using the &quot;n&quot; syntax.

will that be a good workaround ?

the fact that resubmit goes via a &quot;full reset to create&quot;
is something likely there since a long long time and
I would not touch that part unless it c

[2013-10-31 20:45] ericvaandering commented on #875
Closed by slacapra on Tue Jan 29 05:37:04 2013

[2013-10-31 20:45] ericvaandering commented on #875
Comment by slacapra on Tue Jan 29 05:37:04 2013

The workaround is working, so I close this ticket.

thanks,
  stefano

[2013-10-31 20:45] #875 closed, assigned to ericvaandering

[2013-10-31 20:45] ericvaandering opened #876 "crab -report fails when using server"
Original Savannah ticket 100204 reported by slacapra on Thu Jan 31 16:53:08 2013.

---

[*]
Traceback (most recent call last):
  File &quot;/uscmst1/prod/grid/CRAB_2_8_5/python/crab.py&quot;, line 927, in &lt;module&gt;
    crab.initialize_(options)
  File &quot;/uscmst1/prod/grid/CRAB_2_8_5/python/crab.py&quot;, line 181, in
initialize_
    self.initializeActions_(opts)
  File &quot;/uscmst1/prod

[2013-10-31 20:45] ericvaandering commented on #876
Comment by slacapra on Fri Feb  1 03:47:49 2013

Should be fixed in CVS

/local/reps/CMSSW/COMP/CRAB/python/Status.py,v  &lt;--  Status.py
new revision: 1.98; previous revision: 1.97

[2013-10-31 20:45] ericvaandering commented on #876
Closed by belforte on Tue Feb  5 04:32:02 2013

[2013-10-31 20:45] ericvaandering commented on #876
Comment by belforte on Tue Feb  5 04:32:02 2013

released in CRAB 2_8_5_patch1

[2013-10-31 20:45] #876 closed, assigned to ericvaandering

[2013-10-31 20:45] ericvaandering opened #877 "crab -status fails on jobs with no exit code"
Original Savannah ticket 100205 reported by slacapra on Thu Jan 31 16:54:44 2013.

Traceback (most recent call last):
File &quot;/afs/cern.ch/cms/ccs/wm/scripts/Crab/CRAB_2_8_5/python/crab.py&quot;,
line 928, in &lt;module&gt;
crab.run()
File &quot;/afs/cern.ch/cms/ccs/wm/scripts/Crab/CRAB_2_8_5/python/crab.py&quot;,
line 865, in run
if act in self.actions.keys(): self.actions[act].run()
File &quo

[2013-10-31 20:45] ericvaandering commented on #877
Comment by slacapra on Fri Feb  1 03:47:28 2013

Should be fixed in CVS
Status.py

/local/reps/CMSSW/COMP/CRAB/python/Status.py,v  &lt;--  Status.py
new revision: 1.98; previous revision: 1.97

[2013-10-31 20:45] ericvaandering commented on #877
Closed by belforte on Tue Feb  5 04:32:15 2013

[2013-10-31 20:45] ericvaandering commented on #877
Comment by belforte on Tue Feb  5 04:32:15 2013

released in CRAB 2_8_5_patch1

[2013-10-31 20:45] #877 closed, assigned to ericvaandering

[2013-10-31 20:45] ericvaandering opened #878 "make ISB size limit for remoteGlidein same as for CrabServer"
Original Savannah ticket 100206 reported by belforte on Thu Jan 31 16:56:04 2013.

no reason to have it smaller

[2013-10-31 20:45] ericvaandering commented on #878
Comment by belforte on Fri Feb  1 05:15:49 2013

fixed, tested, committed
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.395; previous revision: 1.394

[2013-10-31 20:45] ericvaandering commented on #878
Closed by belforte on Tue Feb  5 04:32:40 2013

[2013-10-31 20:45] ericvaandering commented on #878
Comment by belforte on Tue Feb  5 04:32:40 2013

released in CRAB 2_8_5

[2013-10-31 20:45] #878 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #879 "bad jobid reported to dashboard for HammerCLoud"
Original Savannah ticket 100281 reported by belforte on Tue Feb  5 08:48:15 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/827/1/1/1/1/1/1/1/1/1.html

[2013-10-31 20:45] ericvaandering commented on #879
Comment by belforte on Thu Feb  7 11:05:29 2013

fixed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.15; previous revision: 1.14

[2013-10-31 20:45] ericvaandering commented on #879
Closed by belforte on Thu Feb  7 15:13:25 2013

[2013-10-31 20:45] ericvaandering commented on #879
Comment by belforte on Thu Feb  7 15:13:25 2013

releases in CRAB_2_8_5_patch2

[2013-10-31 20:45] #879 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #880 "set wall limit default to 22h"
Original Savannah ticket 100282 reported by belforte on Tue Feb  5 08:50:24 2013.

make it match glidein built in limit,
actually make sure it is 10min less.
this somehow was missed when putting 22h for remoteGlidein in client 284
users who can use more and need more, can always use crab.cfg

[2013-10-31 20:45] ericvaandering commented on #880
Comment by belforte on Thu Feb  7 11:34:49 2013

SchedulerRemoteglidein put in JDL
jobParams += '+MaxWallTimeMins = %d; ' % (60*22 - 5) # 22h default in glidein, 5min to wrap

so in watchDog I'll put 22h - 10min

[2013-10-31 20:45] ericvaandering commented on #880
Comment by belforte on Thu Feb  7 15:06:26 2013

done
/local/reps/CMSSW/COMP/CRAB/python/crabWatchdog.sh,v  &lt;--  crabWatchdog.sh
new revision: 1.18; previous revision: 1.17

[2013-10-31 20:45] ericvaandering commented on #880
Closed by belforte on Fri Feb  8 10:01:51 2013

[2013-10-31 20:45] ericvaandering commented on #880
Comment by belforte on Fri Feb  8 10:01:51 2013

released in CRAB_2_8_5_patch2

[2013-10-31 20:45] ericvaandering commented on #880
Open by belforte on Thu Feb 28 07:56:27 2013

[2013-10-31 20:45] ericvaandering commented on #880
Comment by belforte on Thu Feb 28 07:56:27 2013

was not done right. I had removed 5min in JDL rather then watchdog.
Watchdog must always kill 5min before MaxWallTimeMins.

[2013-10-31 20:45] ericvaandering commented on #880
Closed by belforte on Mon Mar 11 12:39:41 2013

[2013-10-31 20:45] ericvaandering commented on #880
Comment by belforte on Mon Mar 11 12:39:41 2013

seems all I needed was to fix the default in crabWatchdog.sh
comitted in Revision 1.17

tested OK in crab 2_8_5_patch2

[2013-10-31 20:45] #880 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #881 "make remoteGlidein work w/o sleep for HC"
Original Savannah ticket 100285 reported by belforte on Tue Feb  5 09:25:26 2013.

HC using ssh to contact submit host needs to be able to do w/o forked sleep processes

here's mail from Ramon:

Hello Stefano,

I will prepare a diff to show the changes more concisely. Basically, our investigation leaded to the following issue: all the crab commands were taking exactly the time of the sleep command

[2013-10-31 20:45] ericvaandering commented on #881
Comment by belforte on Wed Feb  6 09:22:40 2013

So in the end I played a bit with this myself and researched the
little info I found in the web on this topic.

Yes, it works finely. But it creates a sort of zombie ssh, a permanent
process on the machine where crab runs which ssh's to _condor@vocms228.

THis is all fine for HC. But I can not put it there for general users,
as I do not want to have

[2013-10-31 20:45] ericvaandering commented on #881
Comment by belforte on Thu Feb  7 11:00:05 2013

added to crab.cfg USER section the option
ssh_control_persist
behaves like ControlPersist in ssh_config

for HC it can be set to
ssh_control_persist=yes

tested and committed, should be OK for HC,
more tests needed before releasing to all users
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &l

[2013-10-31 20:45] ericvaandering commented on #881
Closed by belforte on Thu Feb  7 15:13:06 2013

[2013-10-31 20:45] ericvaandering commented on #881
Comment by belforte on Thu Feb  7 15:13:06 2013

releases in CRAB_2_8_5_patch2

[2013-10-31 20:45] #881 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #882 "put site name in JDL for glidein"
Original Savannah ticket 100339 reported by belforte on Fri Feb  8 10:44:41 2013.

e.g. when user puts it in white list, no reason to xlate into SE. since glidein matches on site name already.

[2013-10-31 20:45] ericvaandering commented on #882
Comment by belforte on Sat Feb  9 10:48:37 2013

syntax from Igor:

On 02/09/2013 06:00 AM, Stefano Belforte wrote:
&gt; quale e' la sintassi per indicare un sito nel JDL ?
&gt; una cosa tipo
&gt; +DESIRED_SITE='T2_IT_Bari'
&gt; ?
DESIRED_Sites
http://www.slideshare.net/igor_sfiligoi/user-training-2012-matchmaking-in-glideinwms-in-cms
(slide 16)

&gt;
&gt; prende anche una lista ?
Si, come DESIRED

[2013-10-31 20:45] ericvaandering commented on #882
Comment by belforte on Thu Sep 12 07:56:34 2013

there is no way to go from SE to site name with the current T1**DISK thing, need to wait until we use directly phedex buffer from the start

[2013-10-31 20:45] ericvaandering opened #883 "give users a command to clean remoteGlidein remote directories"
Original Savannah ticket 100349 reported by belforte on Sat Feb  9 07:53:55 2013.

N/A

[2013-10-31 20:45] ericvaandering commented on #883
Comment by belforte on Tue Mar 12 11:19:46 2013

will pursue as a separte tool, like retry_stageout

[2013-10-31 20:45] ericvaandering commented on #883
Closed by belforte on Thu Mar 21 04:16:02 2013

[2013-10-31 20:45] ericvaandering commented on #883
Comment by belforte on Thu Mar 21 04:16:02 2013

we decided to rather give users simple instructions by mail
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCrabFaq#How_to_clean_up_your_directory_i

[2013-10-31 20:45] #883 closed, assigned to belforte

[2013-10-31 20:45] ericvaandering opened #884 "make sure BossLite/SchedulerRemoteglidein never puts '' as exit code"
Original Savannah ticket 100370 reported by belforte on Mon Feb 11 07:22:09 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6545/1/1/1/1/1/1/1.html

[2013-10-31 20:45] ericvaandering commented on #884
Comment by belforte on Thu Sep 12 08:51:01 2013

bah.. seems something that will never happen again, let's try to ignore this.

[2013-10-31 20:45] ericvaandering opened #885 "mak sure publication dataset name has only valid characters"
Original Savannah ticket 100424 reported by fanzago on Thu Feb 14 06:46:01 2013.

see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6549.html

[2013-10-31 20:45] ericvaandering commented on #885
Comment by fanzago on Mon Apr 15 10:22:28 2013

fix in python/LFNBaseName.py, already committed in cvs

[2013-10-31 20:45] ericvaandering commented on #885
Closed by belforte on Fri May  3 14:07:08 2013

[2013-10-31 20:45] ericvaandering commented on #885
Comment by belforte on Fri May  3 14:07:08 2013

release in client CRAB_2_8_7

[2013-10-31 20:45] #885 closed, assigned to fanzago

[2013-10-31 20:45] ericvaandering opened #886 "crab -uploadLog ignores outputdir option in crab.cfg"
Original Savannah ticket 100818 reported by belforte on Mon Mar 11 08:41:17 2013.

uploadLog always look for stdout in ../res, even if it could be redirected using logdir option
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6609/1/1/2/1/1/1/1/1/1/1.html

[2013-10-31 20:45] ericvaandering commented on #886
Comment by belforte on Thu Sep 12 08:04:00 2013

should only make sure there's a decent message

[2013-10-31 20:45] ericvaandering commented on #886
Comment by belforte on Thu Sep 12 08:12:05 2013

actually is outputdir option
changed title.
after quick look at code seems way too complex to be worth

[2013-10-31 20:45] ericvaandering opened #887 "remove check for user being registered in dev SiteDB"
Original Savannah ticket 100835 reported by belforte on Tue Mar 12 11:24:15 2013.

was only a temporary thing for the March 12 transition. It is not needed nor useful anymore and it causes spurious errors if X509_CERT_DIR is not defined

[2013-10-31 20:45] ericvaandering commented on #887
Comment by belforte on Tue Mar 12 11:33:26 2013

roll back committed. Leave code commented in check_HN_Name.py as useful example since that is all in all a standalone diagnostic tool.

/local/reps/CMSSW/COMP/CRAB/python/DBinterface.py,v  &lt;--  DBinterface.py
new revision: 1.73; previous revision: 1.72

local/reps/CMSSW/COMP/CRAB/python/check_HN_Name.py,v  &lt;--  check_HN_Name.py
new revision: 1

[2013-10-31 20:45] ericvaandering commented on #887
Closed by belforte on Thu Mar 21 04:09:49 2013

[2013-10-31 20:45] ericvaandering commented on #887
Comment by belforte on Thu Mar 21 04:09:49 2013

released in CRAB client 2_8_6

[2013-10-31 20:46] #887 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #888 "for remtoeGlidein put username in JDL as accountinggroup"
Original Savannah ticket 100942 reported by belforte on Thu Mar 21 04:17:28 2013.

need to get exact syntax from Igor or condor manual
username is the HN username fro SiteDB

[2013-10-31 20:46] ericvaandering commented on #888
Comment by belforte on Tue Apr  2 08:50:53 2013

it is: +AccountingGroup=&quot;username&quot;

committed

/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.17; previous revision: 1.16

[2013-10-31 20:46] ericvaandering commented on #888
Closed by belforte on Fri May  3 14:04:43 2013

[2013-10-31 20:46] ericvaandering commented on #888
Comment by belforte on Fri May  3 14:04:43 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] #888 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #889 "make sure client version in in condor JDL"
Original Savannah ticket 100943 reported by belforte on Thu Mar 21 04:18:41 2013.

for remoteGlidein
so we can look it up on submitters with condor commands

[2013-10-31 20:46] ericvaandering commented on #889
Comment by belforte on Tue Apr  2 16:38:45 2013

all in all.. do we really need this ?

[2013-10-31 20:46] ericvaandering commented on #889
Closed by belforte on Thu Sep 12 08:12:55 2013

[2013-10-31 20:46] ericvaandering commented on #889
Comment by belforte on Thu Sep 12 08:12:55 2013

I think we do not need this

[2013-10-31 20:46] #889 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #890 "for rglidein make sure custom JDL att. is at the end"
Original Savannah ticket 100944 reported by belforte on Thu Mar 21 04:29:33 2013.

i.e. if user specifies a custom JDL attribute in crab.cfg it must override any other one set by crab

[2013-10-31 20:46] ericvaandering commented on #890
Closed by belforte on Tue Apr  2 16:50:51 2013

[2013-10-31 20:46] ericvaandering commented on #890
Comment by belforte on Tue Apr  2 16:50:51 2013

almost.. after custom JDL attributest the following go in and will not be overridable:

transfer_input_files = default.tgz,arguments.xml,CMSSW.sh
Executable = CMSSW.sh
log     = condor.log
+BLTaskID = &quot;belforte_crab_0_130328_222137_5wba12&quot;
Arguments  = 1 2
output  = CMSSW_1.stdout
error   = CMSSW_1.stderr
transfer_output_remaps   = &quot;C

[2013-10-31 20:46] #890 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #891 "increase time for crab wrapper to close"
Original Savannah ticket 100958 reported by belforte on Thu Mar 21 15:30:42 2013.

when terminating for max-wall-clock-time 5min are not enough.
Make sure there are e.g. 20min between watchdog limit and time limit in JDL

[2013-10-31 20:46] ericvaandering commented on #891
Comment by belforte on Tue Apr  2 08:49:59 2013

committed
/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.17; previous revision: 1.16

[2013-10-31 20:46] ericvaandering commented on #891
Closed by belforte on Fri May  3 14:05:01 2013

[2013-10-31 20:46] ericvaandering commented on #891
Comment by belforte on Fri May  3 14:05:01 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] #891 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #892 "increase grace period at end of jobs"
Original Savannah ticket 100963 reported by belforte on Fri Mar 22 05:37:36 2013.

when watchdog kills due to maxwallclocktime, leave 20min for all wrapping up, not 5, before condor time limit expires in JDL and job is canceled

[2013-10-31 20:46] ericvaandering commented on #892
Closed by belforte on Tue Apr  2 08:52:01 2013

[2013-10-31 20:46] ericvaandering commented on #892
Comment by belforte on Tue Apr  2 08:52:01 2013

duplicate of https://savannah.cern.ch/bugs/index.php?100958

[2013-10-31 20:46] #892 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #893 "make it possible to read dataset from DBS3"
Original Savannah ticket 100976 reported by belforte on Sat Mar 23 06:36:57 2013.

starting point is this message from Marco Mascheroni:

-------- Original Message --------
Subject:    Re: Coffee meeting today?
Date:   Thu, 21 Mar 2013 10:03:11 +0100
From:   Marco Mascheroni &lt;marco.mascheroni@cern.ch&gt;
To:     Daniele Spiga &lt;daniele.spiga@cern.ch&gt;
CC:     Eric W Vaandering &lt;ewv@fnal.

[2013-10-31 20:46] ericvaandering commented on #893
Comment by belforte on Wed Apr 24 09:22:55 2013

update: still no news on DBS2-DBS3 migration plan. Production is currently writing new dataset in both, but we (CMS Computing) have not made any decision on when stopping to write in DBS2, when to start putting user's publication in DBS3, when to retire DBS2. No news of any work so far on code for crab publication in DBS3. Stefano thinks that most l

[2013-10-31 20:46] ericvaandering commented on #893
Comment by belforte on Mon Sep 23 10:30:10 2013

latest rumor I heard from DMWM is that DBS3 rolling in is &quot;january&quot;. There was something also about DBS2 stopping to work in Novermber when SHA-2 certs come into the game, but Eric did not know anything about this.
In the meanwhile I am converging on using DAS here and tracking understanding/progress in a twiki page
https://twiki.cern.ch/t

[2013-10-31 20:46] ericvaandering opened #894 "flag (and stop) early users who have proxies from voms.fnal.gov"
Original Savannah ticket 100995 reported by belforte on Mon Mar 25 09:45:15 2013.

see
https://savannah.cern.ch/support/?136697

[2013-10-31 20:46] ericvaandering commented on #894
Comment by belforte on Mon Mar 25 11:24:26 2013

here's an example such proxy for a crab task on submit-2
root@submit-2 /crabprod/remoteGlidein/57/uscms4150/mdunser_SMS-T5tttt_mGo-800to1200_mStop-225to1025_mLSP_50_8TeV-Madgraph_800_875_x0ie72# voms-proxy-info -all -file .x509up_u564
subject   : /DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=mdunser/CN=706134/CN=Marc Dunser/CN=proxy
issuer    : /DC=ch

[2013-10-31 20:46] ericvaandering commented on #894
Comment by belforte on Mon Apr  1 14:18:07 2013

why does UCSD GUMS not do this ?

[2013-10-31 20:46] ericvaandering commented on #894
Comment by jletts on Mon Apr  1 14:22:20 2013

I will ask Terrence.

[2013-10-31 20:46] ericvaandering commented on #894
Comment by belforte on Tue Apr  2 16:56:47 2013

Terrence reported that GUMS config from OSG points to voms.fnal.gov, so we can't avoid listing its cert. as a good one.
I spoke with Burt H. and realized this would be an uphill struggle. There will be no simple and quick way to &quot;ban&quot; this. The OSG UI config. does not list voms.fnal.gov for CMS since at least 4 years. So we could rightfull

[2013-10-31 20:46] ericvaandering commented on #894
Comment by belforte on Tue Aug 20 09:57:42 2013

this stopped happening, seems the last bad UI's have been updates, so let's forget

[2013-10-31 20:46] ericvaandering commented on #894
Closed by belforte on Tue Aug 20 09:57:42 2013

[2013-10-31 20:46] #894 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #895 "max_wall_clock_time shoudl work for any scheduler"
Original Savannah ticket 101064 reported by belforte on Mon Apr  1 15:03:35 2013.

allowing users to reset default watchdog limit.
Otherwise should make sure watchdog default is 48 for all schedulers where this is not supported.
see e.g.
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6651/1/2/1/1/2.html

[2013-10-31 20:46] ericvaandering commented on #895
Comment by belforte on Tue Apr  2 08:53:57 2013

Done. Also added support for cpu_time_limit in crab.cfg
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.396; previous revision: 1.395

[2013-10-31 20:46] ericvaandering commented on #895
Closed by belforte on Fri May  3 14:05:24 2013

[2013-10-31 20:46] ericvaandering commented on #895
Comment by belforte on Fri May  3 14:05:24 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] #895 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #896 "watchdog should not cut on cputime accidentally"
Original Savannah ticket 101069 reported by belforte on Tue Apr  2 06:45:01 2013.

better stick to wallclock time, and only cut on cputime if user explicitely asks for it.

[2013-10-31 20:46] ericvaandering commented on #896
Comment by belforte on Tue Apr  2 08:45:27 2013

committed
/local/reps/CMSSW/COMP/CRAB/python/crabWatchdog.sh,v  &lt;--  crabWatchdog.sh
new revision: 1.19; previous revision: 1.18

[2013-10-31 20:46] ericvaandering commented on #896
Closed by belforte on Fri May  3 14:05:46 2013

[2013-10-31 20:46] ericvaandering commented on #896
Comment by belforte on Fri May  3 14:05:46 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] #896 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #897 "catch and handle gsissh stale socket"
Original Savannah ticket 101073 reported by belforte on Tue Apr  2 08:08:28 2013.

e.g.
crab:  Execute command :
gsissh -o ControlMaster=auto -o
ControlPath=/tmp/meridian/.ssh/ssh-link-1235429647-submit-4.t2.ucsd.edu
-o BatchMode=yes -o StrictHostKeyChecking=no -o ForwardX11=no
submit-4.t2.ucsd.edu  mkdir -p meridian_Photon_Run2012A-13Jul2012-v1_c93m1k
crab:  Status,output= 65280,Control socket
co

[2013-10-31 20:46] ericvaandering commented on #897
Comment by belforte on Wed Apr 24 07:28:50 2013

will now detect &quot;already exists&quot; in gsis\* output when it fails and remove the control socket
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.26; previous revision: 1.25

this will require a new ProdCommon tag
PRODCOMMON_0_12_18_CRAB_5

[2013-10-31 20:46] ericvaandering commented on #897
Comment by belforte on Wed Apr 24 07:39:56 2013

check for gsis\* really failed was missing in some cases, fixed

 SchedulerRemoteglidein.py
new revision: 1.27; previous revision: 1.26

[2013-10-31 20:46] ericvaandering commented on #897
Comment by belforte on Fri May  3 14:06:45 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] ericvaandering commented on #897
Closed by belforte on Fri May  3 14:06:45 2013

[2013-10-31 20:46] #897 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #898 "when using ssh control socket worry about contention from multiple processes"
Original Savannah ticket 101105 reported by belforte on Fri Apr  5 03:31:10 2013.

pasting a thread in italian, will summarize once I have some understanding

ciao Stefano,

a TS abbiamo solo due UI, farmui01 e farmui02, quindi la probabilita' di ritrovarsi a girare su piu' terminali dei comandi crab che finiscono per andare in conflitto l'uno con l'altro perche' usano lo stesso ControPath contemp

[2013-10-31 20:46] ericvaandering commented on #898
Comment by belforte on Wed Apr 10 16:58:55 2013

I can't reproduce this even in Triest-S.Diego connection with one gsiscp and one gsissh running at same time from multiple shells using same socket. gsiscp slows down, but does not stall and goes back to normal speed once the other commnd exits.
There may be something even more subtle going on, but likely a rare occasion. In any case crab2 for remot

[2013-10-31 20:46] #898 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #899 "crab -report dies if crab -status fails"
Original Savannah ticket 101144 reported by belforte on Tue Apr  9 10:35:26 2013.

but crab -report does not need info from remote jobs, should only work on local info. Should look into catching exception and going on.
See
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6665/1/1/1/1/1/1/1/1.html

[2013-10-31 20:46] ericvaandering commented on #899
Comment by belforte on Thu Sep 12 08:53:32 2013

realistically.. will not fix this.

[2013-10-31 20:46] ericvaandering opened #900 "default black list does not work for remoteGlidein"
Original Savannah ticket 101186 reported by belforte on Fri Apr 12 16:43:07 2013.

when I implemented &quot;SE only&quot; for remoteGlidein, I decided to ignore the default black list, since current crab code only converts it to a list of CE's.
I thought &quot;if a site is bad, we do not send pilots&quot;.
But now I think it was a mistake. We need the possibility to black list sites also in crab2,

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Tue Apr 23 04:42:00 2013

committed, se black list is applied initially at data location discovery time:
/local/reps/CMSSW/COMP/CRAB/python/Splitter.py,v  &lt;--  Splitter.py
new revision: 1.57; previous revision: 1.56

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Fri May  3 14:10:05 2013

previous commit does not work if there is
no SE_black_list in crab.cfg as crab -creates prints

crab:  SE black list applied to data location: [',', 'T', '1', '_', 'D', 'E', ',', 'T', '1', '_', 'E', 'S', ',', 'T', '1', '_', 'F', 'R', ',', 'T', '1', '_', 'I', 'T', ',', 'T', '1', '_', 'T', 'W', ',', 'T', '1', '_', 'U', 'K', ',', 'T', '1', '_', 'U', 'S

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Sat May  4 03:27:21 2013

committed a fix
/local/reps/CMSSW/COMP/CRAB/python/Splitter.py,v  &lt;--  Splitter.py
new revision: 1.58; previous revision: 1.57
and created CRAB_2_8_7_patch1

but still problems:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6702.html
i.e.
 File &quot;/afs/cern.ch/cms/ccs/wm/scripts/Crab/CRAB_2_8_7_patch1/python/Splitter.py&quot;, line

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Sat May  4 03:31:59 2013

fixed again. Problem was original sin in Splitter.py
by original developers to intialize seBlackList to empty list []
instead of empty string &quot;&quot; in case it is not present in crab.cfg.
Let's make sure which use case I verify:
1. minimal crab.cfg, all defaults
2. add se_black_list to crab.cfg
3. add remove_default_blacklist=1 to crab.cfg
4.

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Sat May  4 04:09:55 2013

also do 1., 2., 3. and 4. with an se_white_list in addition

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Sat May  4 05:37:17 2013

ok now I make sure that the se b/w list is always a list [] after initial filling and it seems OK.
Verified 1. 2. 3. 4. both with and without an additional white list both for remoteGlidein and glite
/local/reps/CMSSW/COMP/CRAB/python/Splitter.py,v  &lt;--  Splitter.py
new revision: 1.59; previous revision: 1.58

[2013-10-31 20:46] ericvaandering commented on #900
Closed by belforte on Fri May 10 09:08:38 2013

[2013-10-31 20:46] ericvaandering commented on #900
Comment by belforte on Fri May 10 09:08:38 2013

releases in CRAB_2_8_7_patch2

[2013-10-31 20:46] #900 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #901 "in some cases crab wrapper reports CpuTime=-1"
Original Savannah ticket 101295 reported by belforte on Tue Apr 23 06:31:32 2013.

pfff... this seems a problem in the crab code that computes CPU time.
I spend some time digging for https://vocms83.cern.ch//130418//3764.25

But it seems that it was resubmitted or something like that.
Because from condor_history that'd be job 84 int his task
http://dashb-cms-job-task.cern.ch/dashboard/request.py/t

[2013-10-31 20:46] ericvaandering commented on #901
Comment by belforte on Tue Apr 23 06:33:18 2013

this is likely due to this initialization
ScriptWriter.py:        txt += 'CPU_INFOS=-1 \n'

then the fact that for some reasons ps was returning
huge values and watchdog killed the job before
it could be updated with a sensible value.

So I will initialize to zero instead.

[2013-10-31 20:46] ericvaandering commented on #901
Comment by belforte on Tue Apr 23 06:38:34 2013

committed

/local/reps/CMSSW/COMP/CRAB/python/ScriptWriter.py,v  &lt;--  ScriptWriter.py
new revision: 1.52; previous revision: 1.51

[2013-10-31 20:46] ericvaandering commented on #901
Closed by belforte on Fri May  3 14:06:24 2013

[2013-10-31 20:46] ericvaandering commented on #901
Comment by belforte on Fri May  3 14:06:24 2013

release in client CRAB_2_8_7

[2013-10-31 20:46] #901 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #902 "lumi_mask set but file not existing gives crash"
Original Savannah ticket 101356 reported by None on Mon Apr 29 09:16:30 2013.

If you have lumi_mask = MyFile.json in your crab.cfg, but the file MyFile.json is not existing, crab -create crashes [*]

It would be better to catch the exception (IOError) and provide a more readable message.

ciao,
  StefanoL

[*]
Traceback (most recent call last):
  File &quot;/home/lacaprar/scratch/CRAB/CRAB_2_8_6/

[2013-10-31 20:46] ericvaandering commented on #902
Comment by belforte on Mon Apr 29 09:24:26 2013

Ciao Stefano,
not to sound lazy, but this seems readable enough to me:

IOError: [Errno 2] No such file or directory: 'Cert_190456-199011_8TeV_PromptReco_Collisions12_JSON.txt'

also has been like that (whatever it is) since a couple of years,
what about only addressing critical issues in Crab2 at this point ?

[2013-10-31 20:46] ericvaandering commented on #902
Closed by belforte on Wed Sep 11 08:03:09 2013

[2013-10-31 20:46] #902 closed, assigned to ericvaandering

[2013-10-31 20:46] ericvaandering opened #903 "splitter.py fails when no_block_boundary=1"
Original Savannah ticket 101464 reported by belforte on Fri May 10 17:00:05 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6709.html
again due to inconsistent definition of self.seWhiteList in Splitter.py
 self.seWhiteList = cfg_params.get('GRID.se_white_list',[])

if there is an entry in crab.cfg is a string,otherwise a list. Makes all following code very fragile :-(

[2013-10-31 20:46] ericvaandering commented on #903
Comment by belforte on Wed May 22 10:58:02 2013

fix committed
/local/reps/CMSSW/COMP/CRAB/python/Splitter.py,v  &lt;--  Splitter.py
new revision: 1.60; previous revision: 1.59

[2013-10-31 20:46] ericvaandering commented on #903
Closed by belforte on Fri Jul 12 04:57:19 2013

[2013-10-31 20:46] ericvaandering commented on #903
Comment by belforte on Fri Jul 12 04:57:19 2013

released in Crab client 2_8_8

[2013-10-31 20:46] #903 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #904 "in job wrapper make stdout and fjr world readable"
Original Savannah ticket 101682 reported by belforte on Wed Jun  5 09:37:06 2013.

so that once pulled to the submission server they can be looked at by monitoring services which run w/o root privilege.

[2013-10-31 20:46] ericvaandering commented on #904
Comment by belforte on Wed Jun  5 11:41:06 2013

fix tested and committed
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.111; previous revision: 1.110

[2013-10-31 20:46] ericvaandering commented on #904
Comment by belforte on Sat Jun  8 08:17:54 2013

forgot that after stageout crab_fjr.xml is created anew,
changing permission after running cmsRun is not enough, do it again after Modify Job report
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.112; previous revision: 1.111

[2013-10-31 20:46] ericvaandering commented on #904
Closed by belforte on Fri Jul 12 04:58:23 2013

[2013-10-31 20:46] ericvaandering commented on #904
Comment by belforte on Fri Jul 12 04:58:23 2013

released in Crab client 2_8_8

[2013-10-31 20:46] #904 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #905 "migrate to SiteDB V2API"
Original Savannah ticket 102071 reported by belforte on Mon Jul 22 03:40:33 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1139/1/1/1/2/2/1/1.html

hints are in mail from Manuel

Hi Stefano,

I have already migrated the WMCore SiteDB service to use SiteDBv2 sometime ago, since StoreResults is also relying on the SiteDB API.

https://github.com/dmwm/WMCore/blob/master/src/pyth

[2013-10-31 20:46] ericvaandering commented on #905
Comment by belforte on Mon Jul 22 08:13:24 2013

turns out Manuel did all the work
https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1139/1/1/1/2/2/1/1/1/1.html

so I committed his version of SiteDB.py to CVS
/local/reps/CMSSW/COMP/WMCORE/src/python/WMCore/Services/SiteDB/SiteDB.py,v  &lt;--  SiteDB.py
new revision: 1.20; previous revision: 1.19

[2013-10-31 20:46] ericvaandering commented on #905
Comment by belforte on Mon Jul 29 02:40:58 2013

there were calls to v1 XML Report from ProdCommon/SiteDB
now fixed to use WMCore/SiteDB to emulate the XML report via v2 API

/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/SiteDB/SiteDBReport.py,v  &lt;--  SiteDBReport.py
new revision: 1.2; previous revision: 1.1

also a new version for /WMCore/Services/SiteDB.py:

 Repository revision:

[2013-10-31 20:46] ericvaandering commented on #905
Comment by belforte on Mon Jul 29 08:31:33 2013

needed to fix SiteDB.py in WMCore for https://savannah.cern.ch/bugs/?102146

/local/reps/CMSSW/COMP/WMCORE/src/python/WMCore/Services/SiteDB/SiteDB.py,v  &lt;--  SiteDB.py
new revision: 1.23; previous revision: 1.22

tagged this in WMCORE_CRAB2_3

[2013-10-31 20:46] ericvaandering commented on #905
Comment by belforte on Mon Jul 29 08:53:47 2013

all committed in
 WMCORE_CRAB2_3 and PRODCOMMON_0_12_18_CRAB_54
so:
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.195; previous revision: 1.194

tagged for CRAB_2_9_0_pre1

[2013-10-31 20:46] ericvaandering commented on #905
Closed by belforte on Tue Aug 20 09:52:22 2013

[2013-10-31 20:46] ericvaandering commented on #905
Comment by belforte on Tue Aug 20 09:52:22 2013

fix released in Crab_2_9_0

[2013-10-31 20:46] #905 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #906 "speed up getoutput for remoteGlidein using rsync"
Original Savannah ticket 102072 reported by belforte on Mon Jul 22 03:47:29 2013.

**\* Discussion title: CRAB Development

Hello all,

When running a task with many (~4500) tasks on the other side of the
atlantic with remoteGlidein, a -getoutput takes nearly 5 hours since
each file is moved individually. The round-trips really add up,
apparently.

I've written a patch here:

https://se1.accre.van

[2013-10-31 20:46] ericvaandering commented on #906
Comment by belforte on Wed Aug  7 05:08:48 2013

fixed error messages (self.logging not logging), tested
and committed
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.28; previous revision: 1.27

[2013-10-31 20:46] ericvaandering commented on #906
Comment by belforte on Wed Aug  7 07:56:28 2013

Note: a new PROD_COMMON tag is needed

[2013-10-31 20:46] ericvaandering commented on #906
Comment by belforte on Thu Aug  8 06:06:57 2013

PRODCOMMON_0_12_18_CRAB_56 tagged
new tag added to tarball
/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.196; previous revision: 1.195

[2013-10-31 20:46] ericvaandering commented on #906
Comment by belforte on Tue Aug 20 09:54:57 2013

fix released in Crab_2_9_0

[2013-10-31 20:46] ericvaandering commented on #906
Closed by belforte on Tue Aug 20 09:54:57 2013

[2013-10-31 20:46] #906 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #907 "consistently use SITEDB CACHE"
Original Savannah ticket 102073 reported by belforte on Mon Jul 22 03:49:24 2013.

Avrei l'ardire di proporre del codice per la prossima versione di CRAB.
Lo trovi sotto

~asciaba/public/SiteDBReport.py

In pratica serve per far riconoscere CMS_SITEDB_CACHE_DIR anche al
codice di Brian.

Ciao,

[code]

On 16/07/2013 15:55, Andrea Sciaba' wrote:
&gt; On 16/07/2013 15:30, Stefano Belforte wrote:
&gt

[2013-10-31 20:46] ericvaandering commented on #907
Comment by belforte on Mon Jul 22 03:51:20 2013

come back to this and review as part of SiteBD V2 API migration
as that piece of cose may also require changes

[2013-10-31 20:46] ericvaandering commented on #907
Comment by belforte on Mon Jul 29 08:28:35 2013

fix committed:
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/SiteDB/SiteDBReport.py,v  &lt;--  SiteDBReport.py
new revision: 1.3; previous revision: 1.2

[2013-10-31 20:46] ericvaandering commented on #907
Comment by belforte on Tue Aug 20 09:52:42 2013

fix released in Crab_2_9_0

[2013-10-31 20:46] ericvaandering commented on #907
Closed by belforte on Tue Aug 20 09:52:42 2013

[2013-10-31 20:46] #907 closed, assigned to belforte

[2013-10-31 20:46] ericvaandering opened #908 "when using pwd.getpwuid(os.getuid())[0] need to import pwd first"
Original Savannah ticket 102146 reported by belforte on Mon Jul 29 08:26:30 2013.

found this a bug in
CRAB/python/Downloader.py
VMCore/Services/SiteDB/SiteDB.py

Crab2 would break anyhow if $HOME is undefined, since voms-\* fails, but seems no reason to have bad code in stuff that could be called elsewhere

[2013-10-31 20:46] ericvaandering commented on #908
Comment by belforte on Mon Jul 29 08:32:55 2013

fix committed
/local/reps/CMSSW/COMP/WMCORE/src/python/WMCore/Services/SiteDB/SiteDB.py,v  &lt;--  SiteDB.py
new revision: 1.23; previous revision: 1.22

/local/reps/CMSSW/COMP/CRAB/python/Downloader.py,v  &lt;--  Downloader.py
new revision: 1.9; previous revision: 1.8

[2013-10-31 20:47] ericvaandering commented on #908
Closed by belforte on Tue Aug 20 09:55:15 2013

[2013-10-31 20:47] ericvaandering commented on #908
Comment by belforte on Tue Aug 20 09:55:15 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] #908 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #909 "remove checkLcg from cmscp.py"
Original Savannah ticket 102166 reported by belforte on Thu Aug  1 09:28:14 2013.

since it is not useful (SAM already does it) and it fails in case of harmless errors like happened here
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6857.html

[2013-10-31 20:47] ericvaandering commented on #909
Comment by belforte on Tue Aug  6 14:21:53 2013

well.. assuming there's still a slim change of an old version of lcg-cp laying around which does not like --timeout, I will simply wrap it in some try/pass.

[2013-10-31 20:47] ericvaandering commented on #909
Comment by belforte on Tue Aug  6 16:12:42 2013

simple fix committed
/local/reps/CMSSW/COMP/CRAB/python/cmscp.py,v  &lt;--  cmscp.py
new revision: 1.96; previous revision: 1.95

[2013-10-31 20:47] ericvaandering commented on #909
Comment by belforte on Tue Aug 20 09:56:11 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] ericvaandering commented on #909
Closed by belforte on Tue Aug 20 09:56:11 2013

[2013-10-31 20:47] #909 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #910 "when watchdog kicks in during stage out error is misreported"
Original Savannah ticket 102197 reported by belforte on Tue Aug  6 15:36:54 2013.

wrapper does not wait for watchdog to complete and close all processes, so the job ends with 60318 instead of 50664.
Need to add a wait step before calling exit_func at the end of the wrapper. In crab_template.sh

[2013-10-31 20:47] ericvaandering commented on #910
Comment by belforte on Wed Aug  7 06:39:34 2013

actually need to put the wait for watchdog in func_exit which is prepared by Scheduler.py

done and tested (damn difficult to make watchdog kick in reproducibly during stage out.. anyhow)

/local/reps/CMSSW/COMP/CRAB/python/Scheduler.py,v  &lt;--  Scheduler.py
new revision: 1.109; previous revision: 1.108

[2013-10-31 20:47] ericvaandering commented on #910
Closed by belforte on Tue Aug 20 09:53:40 2013

[2013-10-31 20:47] ericvaandering commented on #910
Comment by belforte on Tue Aug 20 09:53:40 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] #910 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #911 "properly report cmsRun segfaults"
Original Savannah ticket 102198 reported by belforte on Tue Aug  6 15:48:27 2013.

grep the application log for segmentation fault messages and in that case set the app.exit code to 50800

[2013-10-31 20:47] ericvaandering commented on #911
Comment by belforte on Thu Aug  8 05:56:19 2013

committed. Difficult to test w/o an example config/code
which makes cmsRun segfault

/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.113; previous revision: 1.112

[2013-10-31 20:47] ericvaandering commented on #911
Closed by belforte on Tue Aug 20 09:56:31 2013

[2013-10-31 20:47] ericvaandering commented on #911
Comment by belforte on Tue Aug 20 09:56:31 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] #911 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #912 "always show T1 locations"
Original Savannah ticket 102199 reported by belforte on Wed Aug  7 02:35:29 2013.

not needed any more since we rely on black list and next on ACL at the T1 themselves, plus as we are opening T1's for analysis on Disk data this is harmful.
So make crab always behave as if show_prod=1

[2013-10-31 20:47] ericvaandering commented on #912
Comment by belforte on Wed Aug  7 07:09:46 2013

Done:
/local/reps/CMSSW/COMP/CRAB/python/DataLocation.py,v  &lt;--  DataLocation.py
new revision: 1.37; previous revision: 1.36

[2013-10-31 20:47] ericvaandering commented on #912
Closed by belforte on Tue Aug 20 09:54:02 2013

[2013-10-31 20:47] ericvaandering commented on #912
Comment by belforte on Tue Aug 20 09:54:02 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] #912 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #913 "wrong T1 site reported at creation time"
Original Savannah ticket 102200 reported by belforte on Wed Aug  7 02:41:36 2013.

e.g.
Block     1: jobs                 1-10: sites: T1_UK_RAL_MSS, T1_UK_RAL_MSS
while one should be T1_UK_RAL_Disk which has a different SE name. Suspect something in the way SE to Site is done by e.g. only using first part of site name.
Best would be to get rid of SE names and join with
https://savannah.cern.ch/bu

[2013-10-31 20:47] ericvaandering commented on #913
Comment by belforte on Wed Aug  7 13:55:41 2013

this is ultimately due the fact that Crab is using SiteDB.
In SiteDB currently the internal site name (RAL) is used as key and from it pend on one site the list of SE names, from the other the list of PhEDEx Nodes, so SE-to-CMSname becomes a many-to-many
that can not be resolved in not ambiguous way.
Of course for T2's so far there was always only o

[2013-10-31 20:47] ericvaandering opened #914 "make sure users can not override ISB size limit for remoteGlidein"
Original Savannah ticket 102210 reported by belforte on Wed Aug  7 14:37:38 2013.

i.e. maxtarballsize  must be ignored.

[2013-10-31 20:47] ericvaandering commented on #914
Comment by belforte on Thu Aug  8 02:43:00 2013

to begin with, removed from crab_help
/local/reps/CMSSW/COMP/CRAB/python/crab_help.py,v  &lt;--  crab_help.py
new revision: 1.179; previous revision: 1.178

[2013-10-31 20:47] ericvaandering commented on #914
Comment by belforte on Thu Aug  8 03:58:24 2013

no pity,
if someone needs more then 100MB, they go for Crab3
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.397; previous revision: 1.396

[2013-10-31 20:47] ericvaandering commented on #914
Comment by belforte on Tue Aug 20 09:54:20 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] ericvaandering commented on #914
Closed by belforte on Tue Aug 20 09:54:20 2013

[2013-10-31 20:47] #914 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #915 "Add dataset name to condor ClassAds"
Original Savannah ticket 102219 reported by belforte on Fri Aug  9 02:11:45 2013.

Add dataset name to jdl, which will help testing of dynamic data placement.

[2013-10-31 20:47] ericvaandering commented on #915
Comment by belforte on Fri Aug  9 02:11:45 2013

This item has been reassigned from the project CRAB task tracker to your tracker.

The original report is still available at task #45357

Following are the information included in the original report:
- [field #0]                  Item ID: 45357
- [field #1]                 Group ID: 265
- [field #2]              Open/Closed: Open
- [field #3]

[2013-10-31 20:47] ericvaandering commented on #915
Comment by belforte on Fri Aug  9 04:32:05 2013

done, tested, committed
SchedulerRemoteglidein.py revision 1.19

[2013-10-31 20:47] ericvaandering commented on #915
Comment by belforte on Tue Aug 20 09:54:42 2013

fix released in Crab_2_9_0

[2013-10-31 20:47] ericvaandering commented on #915
Closed by belforte on Tue Aug 20 09:54:42 2013

[2013-10-31 20:47] ericvaandering commented on #915
Comment by belforte on Tue Aug 20 16:34:47 2013

had to protect agasint datasetpath to be undefined (None)
so the right version is 1.21

local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.21; previous revision: 1.20

[2013-10-31 20:47] #915 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #916 "uploadLog broken in 290"
Original Savannah ticket 102311 reported by belforte on Tue Aug 20 13:39:32 2013.

from crab.log
2013-08-20 20:33:38,254 [INFO]  Starting to upload the report...
2013-08-20 20:33:38,312 [DEBUG]     Start cleaning report...
2013-08-20 20:33:38,312 [DEBUG]     Running 'rm -rf /afs/cern.ch/user/b/belforte/w0/crabtest/crab_0_130820_202245//crabreport_2013-08-20-20:33:38.095185 /afs/cern.ch/user/b/belf

[2013-10-31 20:47] ericvaandering commented on #916
Comment by belforte on Tue Aug 20 16:25:51 2013

in the end this is due to ne WMCore/Services/SiteDB/SiteDB.py which returns unicode for user name,  even if cached file seems to have plain strings only. Older version for SiteDB V1 API was returning string instead.

python does not handle this transparently everywhere,
but does not fail immediately either so that one
would spot it right away.

bloo

[2013-10-31 20:47] ericvaandering commented on #916
Closed by belforte on Tue Aug 20 16:44:48 2013

[2013-10-31 20:47] ericvaandering commented on #916
Comment by belforte on Tue Aug 20 16:44:48 2013

in the end problem was nasty, but fix trivial, so I assume few if any remotely installed CRAB_2_9_0 yet and simply retagged new crab_util.py and made a new tarball. Crab client on AFS is also updated.

[2013-10-31 20:47] #916 closed, assigned to belforte

[2013-10-31 20:47] ericvaandering opened #917 "when looking for cmsRun segfault also grep for &quot;segmentation violation&quot;"
Original Savannah ticket 102368 reported by belforte on Mon Aug 26 07:14:48 2013.

at least with CMSSW_5_3_9 message is
%MSG-e FatalSystemSignal:
A fatal system signal has occurred: segmentation violation
%MSG

[2013-10-31 20:47] ericvaandering commented on #917
Comment by belforte on Mon Aug 26 07:15:46 2013

fixed
/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.115; previous revision: 1.114

[2013-10-31 20:47] ericvaandering opened #918 "T1's are not blacklisted any more when using split by lumi"
Original Savannah ticket 102400 reported by belforte on Thu Aug 29 02:31:48 2013.

while they are when using split by event :-(

things work (no job created) if using split by event, which is what I have in my
standard test config.
So there's an annoying bug, where the annoying part refers to
se b/w lista being handled differently in Crab2
for split by lumi and split by event, date since before &q

[2013-10-31 20:47] ericvaandering commented on #918
Comment by belforte on Fri Aug 30 11:37:08 2013

also split by event seems not to work as expected.
I need to fully review all this mess.

[2013-10-31 20:47] ericvaandering commented on #918
Comment by belforte on Thu Sep  5 09:43:17 2013

tentatively fixed
/local/reps/CMSSW/COMP/CRAB/python/Splitter.py,v  &lt;--  Splitter.py
new revision: 1.61; previous revision: 1.60

extensive testing is needed, since there are so many possibilities

[2013-10-31 20:47] ericvaandering opened #919 "CMSSW_x.stdout on glidein submission nodes is now 0 bytes"
Original Savannah ticket 102402 reported by belforte on Thu Aug 29 02:33:30 2013.

I noticed that glidemon (aka Dima's monitor) points to an empty
file for the jobs stdout (CMSSW_x.stdout is always zero bytes).
I suspect this is due to a change in condor version (we update
schedd's lately) so that the JDL istructions that we were sending
to prevent duplicate stdout (explicit file + copy inside tar

[2013-10-31 20:47] ericvaandering commented on #919
Comment by dmytro on Thu Sep  5 06:59:49 2013

Hi Stefano,

can you please give a link to a few examples?

Thanks,
              Dima

[2013-10-31 20:47] ericvaandering commented on #919
Comment by belforte on Thu Sep  5 07:25:24 2013

e.g.
http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=54515
but this is not your problem, files are empty on disk. ALl of them.
THis is a problem in crab JDL

by the way seems to me you only put a link to log for failed jobs, correct ?
I found some failed jobs with no link, is that worth investigating ?
e.g. http://glidemon.web.cern.ch/glidemon/

[2013-10-31 20:47] ericvaandering commented on #919
Comment by dmytro on Thu Sep  5 08:02:36 2013

XML files are not empty, so at least some information is available. Indeed I see no issues on my side.

Regarding http://glidemon.web.cern.ch/glidemon/jobs.php?taskid=54531 there is a red warning message saying that a user is using an old version of Crab that doesn't set permissions right. I determine this status once per task, i.e. for a new task I c

[2013-10-31 20:47] ericvaandering commented on #919
Comment by belforte on Thu Sep  5 08:11:59 2013

yes, crab*xml works OK. I know what's going on here. It is an effect of condor not respecting some JDL request in certain versions. I simply want to hear confirmation from Igor that I am doing the right thing.

[2013-10-31 20:47] ericvaandering commented on #919
Comment by belforte on Thu Sep  5 08:37:40 2013

better now
http://submit-6.t2.ucsd.edu/CSstoragePath/36/uscms2182/belforte_crab_0_130905_144040_s6v17c/CMSSW_1.stdout

[2013-10-31 20:47] ericvaandering commented on #919
Comment by belforte on Thu Sep  5 08:39:44 2013

/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.32; previous revision: 1.31

tagged this as :
 PRODCOMMON_0_12_18_CRAB_57

[2013-10-31 20:47] ericvaandering opened #920 "remoteGlidein to pick exit code fom classAd, not fjr"
Original Savannah ticket 102413 reported by belforte on Thu Aug 29 09:41:02 2013.

retrieve exit code from condor_history no need to grep fjr.
For this to be possible condor must allow the job to publish one class ad. Tracked in this condor ticket:
https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=3353

[2013-10-31 20:47] ericvaandering opened #921 "in 290 override_data_location does not work"
Original Savannah ticket 102436 reported by belforte on Sat Aug 31 16:01:27 2013.

list of desired SE&quot;s is printed as unicode instead of string,
likely another effect of SiteDB V2 API

DESIRED_SEs = &quot; u'se1.accre.vanderbilt.edu', u'srm.ihepa.ufl.edu', u'cmssrm.hep.wisc.edu', u'bsrm-1.t2.ucsd.edu', u'srm-dcache.rcac.purdue.edu', u'srm.unl.edu', u'red-srm1.unl.edu', u'bsrm-3.t2.ucsd.edu',

[2013-10-31 20:47] ericvaandering commented on #921
Comment by belforte on Mon Sep  2 09:48:18 2013

indeed it is due to SiteDB V2 API returning unicode.
This particular case is fixed explicitly casting to string

/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.398; previous revision: 1.39

I will look for other cases

[2013-10-31 20:47] ericvaandering commented on #921
Comment by belforte on Tue Sep  3 08:57:33 2013

found another place where unicode from SiteDB could create problems, and added explicit cast to string there as well

/local/reps/CMSSW/COMP/CRAB/python/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.22; previous revision: 1.21

[2013-10-31 20:47] ericvaandering opened #922 "Missing hostname in Analsysis failed jobs"
Original Savannah ticket 102452 reported by belforte on Mon Sep  2 10:01:59 2013.

Title complement : (that had time to exit properly)

Hi,

Assigned to DashBoard as it makes sense but the issue might be more for CRAB Devs and AnaOps, full discussion :

https://hypernews.cern.ch/HyperNews/CMS/get/comp-monitoring/230/1/2/1.html

To make it short I will try to skip what I already wrote in the HN. Le

[2013-10-31 20:47] ericvaandering commented on #922
Comment by belforte on Mon Sep  2 07:48:30 2013

upon close look, hostname is reported correctly e.g. for jobs that succeed, so it seems that when SCRAM fails the needed part of crab job wrapper is not executed.
Assigning to me for investigation as a crab bug.

[2013-10-31 20:47] ericvaandering commented on #922
Comment by belforte on Mon Sep  2 10:01:59 2013

yes, it is Crab, move to Crab bug tracker

[2013-10-31 20:47] ericvaandering commented on #922
Comment by belforte on Mon Sep  2 10:01:59 2013

This item has been reassigned from the project CMS Computing Infrastructure  Support support tracker to your tracker.

The original report is still available at support #139565

Following are the information included in the original report:
- [field #0]                  Item ID: 139565
- [field #1]                 Group ID: 452
- [field #2]

[2013-10-31 20:47] ericvaandering commented on #922
Comment by belforte on Mon Sep  2 10:06:18 2013

changed crab wrapper to make sure WNHostName is in the first message sent to dashboard as soon as job starts.
Two one-line changes:

/local/reps/CMSSW/COMP/CRAB/python/crab_template.sh,v  &lt;--  crab_template.sh
new revision: 1.116; previous revision: 1.115

/local/reps/CMSSW/COMP/CRAB/python/SchedulerGrid.py,v  &lt;--  SchedulerGrid.py
new revisio

[2013-10-31 20:47] ericvaandering commented on #922
Comment by samircury on Tue Sep  3 04:00:33 2013

Hi Stefano,

I'm surprised with something. I see now 10034 jobs reporting correctly :

http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/#user=&amp;refresh=0&amp;table=JobDetailedView&amp;p=4&amp;records=25&amp;activemenu=0&amp;usr=BrianCalvert/bcalvert&amp;site=T2_US_Caltech&amp;submissiontool=&amp;application=CMSSW_5_3_9_patch3&amp;activi

[2013-10-31 20:47] ericvaandering commented on #922
Comment by belforte on Tue Sep  3 04:48:48 2013

I think the user did a crab -get and retrieved output file, at which time crab client updated all info to dashboard again.
The fix I have committed will make sure that WN is reported when job start running.

stefano

[2013-10-31 20:47] ericvaandering opened #923 "if there's no AppExitCode JobExit code is not updated at crab -status time by remoteGlidein"
Original Savannah ticket 102455 reported by belforte on Mon Sep  2 10:20:27 2013.

i.e. from crab.log:

2013-09-02 16:03:04,844 [DEBUG]         Execute command :
gsissh -o ControlMaster=auto -o ControlPath=/tmp/belforte/.ssh/ssh-link-448078102-submit-4.t2.ucsd.edu -o BatchMode=yes -o StrictHo
stKeyChecking=no -o ForwardX11=no submit-4.t2.ucsd.edu &quot;cd belforte_crab_0_130902_155134_62zq4g; egre

[2013-10-31 20:47] ericvaandering commented on #923
Comment by belforte on Mon Sep  2 10:33:21 2013

fix tested and committed

/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.29; previous revision: 1.28

[2013-10-31 20:47] ericvaandering commented on #923
Comment by belforte on Mon Sep  2 10:38:43 2013

typo slipped in, new version
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.30; previous revision: 1.29

[2013-10-31 20:47] ericvaandering commented on #923
Comment by belforte on Tue Sep  3 09:05:18 2013

tagged as PRODCOMMON_0_12_18_CRAB_57
and added to Crab client

/local/reps/CMSSW/COMP/CRAB/python/PrepareTarBall.sh,v  &lt;--  PrepareTarBall.sh
new revision: 1.197; previous revision: 1.196

[2013-10-31 20:47] ericvaandering opened #924 "fix typo in SchedulerRemoteGlidein: self, not slef"
Original Savannah ticket 102476 reported by belforte on Wed Sep  4 13:25:10 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6904/2.html

crab:  Stale ssh control socket: /tmp/rchatter/.ssh/ssh-link--1925900194-hcc-crabserver.unl.edu

crab: Unexpected exception executing Status Query operation : Traceback (most recent call last):
  File &quot;/afs/cern.ch/cms/ccs/wm/scripts/Crab

[2013-10-31 20:47] ericvaandering commented on #924
Comment by belforte on Thu Sep  5 07:30:40 2013

ok
/local/reps/CMSSW/COMP/PRODCOMMON/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py,v  &lt;--  SchedulerRemoteglidein.py
new revision: 1.31; previous revision: 1.30

[2013-10-31 20:47] ericvaandering commented on #924
Comment by belforte on Thu Sep  5 07:34:26 2013

inserted that in tag scheduler for next crab client
 PRODCOMMON_0_12_18_CRAB_57

[2013-10-31 20:47] ericvaandering opened #925 "warn that data_location_override only works in crab.cfg"
Original Savannah ticket 102488 reported by belforte on Thu Sep  5 09:12:34 2013.

not in crab -submit -GRID.data_location_override=...

[2013-10-31 20:47] ericvaandering commented on #925
Comment by belforte on Thu Sep  5 09:14:56 2013

fixed
/local/reps/CMSSW/COMP/CRAB/python/crab_help.py,v  &lt;--  crab_help.py
new revision: 1.180; previous revision: 1.179

[2013-10-31 20:47] ericvaandering opened #926 "Weird interaction with CRAB2 and CMSSW's option parsing"
Original Savannah ticket 102552 reported by belforte on Tue Sep 10 15:30:41 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1683.html

A few times, I've noticed that the option parsing with CRAB2 clashes with
CMSSW's option parsing, which leads to a pset blowing up with a really
obscure error message (it just throws invalid option and no traceback,
which is unhelpful)

Basic

[2013-10-31 20:47] ericvaandering commented on #926
Comment by belforte on Wed Sep 11 08:00:12 2013

OK, it appears harmless, so I have done the change:
/local/reps/CMSSW/COMP/CRAB/python/cms_cmssw.py,v  &lt;--  cms_cmssw.py
new revision: 1.400; previous revision: 1.399

by the way the crab help for this
http://cmsdoc.cern.ch/cms/ccs/wm/www/Crab/Docs/crab-online-manual.html#pycfg_params__
points to a twiki page
https://twiki.cern.ch/twiki/bin/view/

[2013-10-31 20:47] ericvaandering opened #927 "use PhEDEx buffer as data location, not SE name"
Original Savannah ticket 102570 reported by None on Thu Sep 12 07:59:34 2013.

this seems the plan for CMS at this point. Possibly Crab3 does this already. WMA wants to go there.
It will be the only way to e.g. do analysis at T1_IT_CNAF as long as they have some SE name for disk and not-disk data.
But it will some work...

A few other features/fixes depend on this for a clean resolution.

[2013-10-31 20:47] ericvaandering opened #928 "avoid exit code = 70500 if running user script"
Original Savannah ticket 102659 reported by None on Mon Sep 23 10:35:45 2013.

when user indicates a custom script with script_exe, it may not always be possible (or useful) to produce a FJR file.
I found one user e.g. running thousands of Sherpa generation jobs, exit wws ending fine but user made no attempt to create an FJR.
We should avoid treating this as errors, so not to confuse monitoring.

[2013-10-31 20:47] ericvaandering commented on #928
Comment by belforte on Fri Oct  4 09:42:43 2013

checked with Federica how to prevent accidental publication with incompleted fjrs. Sounds if there's no LFN in fjr we are OK. I will verify. Anyhow apprach should be not to look for fjr if user provided script_exe and did not ask for publication, but create fake one with exit code from user's exe.

[2013-10-31 20:47] ericvaandering opened #929 "better handling of input args for multicrab"
Original Savannah ticket 102780 reported by belforte on Sat Oct  5 02:00:34 2013.

see
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1686/2.html

[2013-10-31 20:47] ericvaandering commented on #929
Comment by belforte on Sat Oct  5 03:16:28 2013

attach patch from StefanoL
(n.b. no need to change crab.py)

(file #35510)

[2013-10-31 20:47] ericvaandering commented on #929
Comment by belforte on Sat Oct  5 03:22:10 2013

so the suggested changes are:

belforte@lxplus414/StefanoLacaprara&gt; diff multicrab.py ..
287,291c287,288
&lt;                     if (len(options[o].split())&gt;1):
&lt;                         cmd+='&quot;'+str(o)+'='+str(options[o])+'&quot; '
&lt;                     else:
&lt;                         options[o] = ''.join(options[o].split())

#

[2013-10-31 20:47] ericvaandering opened #930 "crab -help should say that max_time can only be set when create"
Original Savannah ticket 102805 reported by belforte on Wed Oct  9 12:40:55 2013.

since watchdog is configured in job wrapper, max cpu and max wall clock time can only be set at crab -create time. So those parameters in crab.cfg can not be used for crab -resubmit.

[2013-10-31 20:47] ericvaandering opened #931 "crab -copyData should not use BDII"
Original Savannah ticket 102809 reported by fanzago on Wed Oct  9 13:43:37 2013.

when calling lcg-ls e.g. should use -b option
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/6980.html

[2013-10-31 20:47] ericvaandering opened #932 "missingLumiMask_of_task"
Original Savannah ticket 102859 reported by fanzago on Tue Oct 15 05:09:19 2013.

In order to complete tasks created using a lumimask file and a splitting based by lumi with a limited number of tutal lumi to analize, we have to calculate in the report also the missingLumiMask_of_task starting from the inputLumi file (json file of input lumi to analize in the created task) and not only the missingL

[2013-10-31 20:47] ericvaandering commented on #932
Comment by belforte on Tue Oct 15 05:16:52 2013

I do not understand what you say here.

I would have expected the start point to always be
the AND of the dataset lumis and the user's lumimask.

Then crab -report makes the list of that MINUS
the processed lumis.

This should work in all cases.

Am I missing something ? Otherwise maybe there's a bug ?

[2013-10-31 20:47] ericvaandering commented on #932
Comment by fanzago on Wed Oct 16 05:02:35 2013

My point is:

I have created a task using a lumimask file, and in the config of crab I have decided to split the task in this way:

lumis_per_job           = 50
number_of_jobs          = 10

Then 4 of them failed.
Using the option -report I know the lumis analyzed by the corrected terminated job of the task and the missing lumi as difference between

[2013-10-31 20:47] ericvaandering commented on #932
Comment by belforte on Wed Oct 16 05:19:52 2013

I see. This is a bug then.

In the end, regardless of how it is described, the first term of the difference must be the same list as in arguments.xml for that task.
Should fix ASAP. Let me know if I should help.

[2013-10-31 20:47] ericvaandering commented on #932
Comment by fanzago on Wed Oct 16 05:24:37 2013

Hi,
it isn't a bug, It was decided to be implemented in this way, but it work if an user want to analyze the complete dataset via lumimask, not a subset of lumi.
I let you know.

[2013-10-31 20:47] ericvaandering commented on #932
Comment by fanzago on Thu Oct 17 03:57:14 2013

With the -report option two files are now created:

1) total_missingLumiSummary.json about the missing lumi between the original lumi mask used in the crab.cfg and the lumi analyzed by correctly finished jobs

2) task_missingLumiSummary.json about the missing lumi between the arguments lumi of task's jobs  and the lumi analyzed by correctly finished

[2013-10-31 20:47] ericvaandering opened #933 "warn user when dbs url is not compatible with publication url"
Original Savannah ticket 102998 reported by fanzago on Mon Oct 28 07:20:59 2013.

when user reads from local scope dbs 01 or 02, the same local scope dbs needs to be used for publication.
crab client should raise an error if different.

[2013-10-31 21:32] belforte commented on #932
need to commit again to GITHUB since only 2_9_1 was imported

[2013-11-04 15:57] belforte commented on #1
done

[2013-11-04 15:57] #1 closed, assigned to belforte

[2013-11-19 11:43] #929 closed, assigned to belforte

[2013-11-19 12:09] belforte commented on #926
released in CRAB_2_9_1

[2013-11-19 12:09] #926 closed, assigned to belforte

[2013-11-19 12:10] belforte commented on #925
released in CRAB_2_9_1

[2013-11-19 12:10] #925 closed, assigned to belforte

[2013-11-19 12:10] belforte commented on #924
released in CRAB_2_9_1

[2013-11-19 12:10] #924 closed, assigned to belforte

[2013-11-19 12:11] belforte commented on #922
released in CRAB_2_9_1

[2013-11-19 12:11] #922 closed, assigned to belforte

[2013-11-19 12:11] belforte commented on #921
released in CRAB_2_9_1

[2013-11-19 12:11] #921 closed, assigned to belforte

[2013-11-19 12:12] belforte commented on #917
released in CRAB_2_9_1

[2013-11-19 12:12] #917 closed, assigned to belforte

[2013-11-19 12:13] belforte commented on #860
fix released in CRAB_2_9_1

[2013-11-19 12:13] #860 closed, assigned to belforte

[2013-11-19 12:14] belforte commented on #781
fix released in CRAB_2_9_1

[2013-11-19 12:14] #781 closed, assigned to belforte

[2013-11-19 12:15] belforte commented on #785
fix released in CRAB_2_9_1

[2013-11-19 12:15] #785 closed, assigned to belforte

[2013-11-19 12:16] belforte commented on #918
fix released in CRAB_2_9_1

[2013-11-19 12:16] #918 closed, assigned to belforte

[2013-11-19 12:16] belforte commented on #919
fix released in CRAB_2_9_1

[2013-11-19 12:16] #919 closed, assigned to belforte

[2013-11-19 12:17] belforte commented on #923
fix released in CRAB_2_9_1

[2013-11-19 12:17] #923 closed, assigned to belforte

[2013-11-19 12:59] belforte commented on #932
merged into main branch for next release

[2013-11-19 12:59] #932 closed, assigned to fanzago

[2013-11-19 15:11] belforte opened #936 "remove CMSSW version from JDL for gLite"
we will not publish CMSSW tags any more

[2013-11-19 21:33] belforte opened #937 "make prepareTarBall.sh work from github"

[2013-11-20 21:22] belforte opened #938 "configure should not try to expand crablib"
since we do not support crab server anymore and did not port crablib to git

[2013-11-21 09:46] belforte opened #940 "check_HN_Name.py should not use subprocess"
so it can work with python 2.6 in cmssw 4x

[2013-11-21 17:26] belforte opened #942 "import DBS3 client as another external"
as per instructions from Manuel

Finally, here are my instructions to get the DBS 3 client working without installing rpms. The only dependencies are curl, pycurl and cjson. All of them are part of the CMSSW releases and can be used from there. If you start from scratch, you can simply do.
# This is done by any user before using CRAB:

source /cvmfs/cms.cern.ch/cmsset_default.sh
cmsrel CMSSW_5_3_1

[2013-11-22 10:50] chwissing commented on #936
Hi Stefano, during the routine tests by Andrea it turned out that this was not 100% correct. I try ro submit a patch to fix it (and I am completely new to Githup as well).

[2013-11-22 10:56] belforte commented on #936
thanks Christoph, if you tell me what the problem is can also try to fix. I only did one crab -createJdl and verified that CMSSW version was not among the requirements. Or send me the patch and I will commit. I am not sure you can commit to this repository. But have not had the patience to learn git authorization things as well.

[2013-11-22 11:09] chwissing commented on #936
hi Stefano let me try to reply here since I failed to push back my
changes (no ideas about Githup authorizations either....).

Find attached a patch for cms_cmssw.py, which should fix it.

I also saw that the version counter is still at 2.9.1, you might want to
increase it to 2.9.2 in common.py.

Cheers, Christoph

On 11/22/2013 11:56 AM, belforte wrote:

[2013-11-22 11:28] belforte commented on #936
thanks Christoph, I'll do. stefano

On 11/22/2013 12:09 PM, Christoph Wissing wrote:

##

Stefano Belforte - I.N.F.N.     tel   : +39 040 375-6261 (fax: 375-6258)
Area di Ricerca - Padriciano 99 tel mobile: +39 328 010 7327
34012 TRIESTE TS  - Italy       AIM: stefanobelforte

[2013-11-22 11:41] belforte opened #944 "change version in common.py for 2_9_2"

[2013-11-22 13:56] belforte commented on #936
took the chance to clean up a bit and make it safe against scram_arch not being defined:

[2013-11-22 16:26] belforte opened #945 "properly set maxwalltime for condor_g"
On 11/22/2013 04:48 PM, Bockjoo Kim wrote:
By the way, I use condor_g scheduler sometimes just to debug OSG ce.
The default maxwalltime in the CRAB_2_9_1 SchedulerCondor_g.py interferes
and takes the precedence over the variable, globus_rsl in the [CONDORG] section.
The patch that I created to fix that is
http://oo.ihepa.ufl.edu:8080/crab/SchedulerCondor_g.py.CRAB_2_9_1.patch

[2013-11-26 21:13] belforte opened #947 "crab 2_9_2 fails when doing -report on a MC dataset"
[...]
crab:  The summary file inputLumiSummaryOfTask.json about input run and lumi isn't created
Traceback (most recent call last):
  File "/gpfs/cms/software/CRAB/CRAB_2_9_2/python/crab.py", line 928, in <module>
    crab.run()
  File "/gpfs/cms/software/CRAB/CRAB_2_9_2/python/crab.py", line 865, in run
    if act in self.actions.keys(): self.actions[act].run()
  File "/gpfs/cms/software/CRAB/CRA

[2013-11-27 17:04] belforte opened #948 "crab_2_9_2 report prints a traceback when using split by event"
the needed report file for luminosity is created, so there may not be any real error, but surely this is very confusing for users:

belforte@lxplus433/gdr> crab -report
crab:  Version 2.9.2 running on Wed Nov 27 17:04:10 2013 CET (16:04:10 UTC)

crab. Working options:
    scheduler           remoteglidein
    job type            CMSSW
    server              OFF
    working directory   /afs/cern.c

[2013-11-27 17:05] belforte commented on #947
replaced by #948  with better description

[2013-11-27 17:05] #947 closed, assigned to fanzago

[2013-11-28 15:09] belforte commented on #788
I think the implementation was plainly wrong. Given that the list of lumi's to be processed is in arguments.xml which is created at crab -create time, and so it already takes into account possible input lumimask, runselection etc. and covers the full dataset, there is no need to discriminate in the code according to CMSSW.lumi_mask, simply make the difference of lumis in arguments.xml and lumiSumm

[2013-11-28 15:34] belforte commented on #899
serendiptiously found the solution, simply remove in Rerporter.py code attached to this comment:
        # TEMPORARY by Fabio, to be removed

[2013-11-28 15:42] #899 closed, assigned to belforte

[2013-11-28 15:54] fanzago commented on #788
The arguments.xml doesn't cover the complete dataset in the case a subset of lumis was selected using the CMSSW.total_number_of_lumis not -1

[2013-11-28 15:57] belforte commented on #788
Yes, and that's OK.
The aim of the file created by crab -report is to rescue
the lumis that this task was supposed to process and did not.
Not to extend to the full dataset beyond the initial
intention of the user.
It is possible that initial posting in Savannah by Eric
was not clear enough and misled the intial implementation.

[2013-11-28 16:08] belforte commented on #788
see also comments to https://github.com/dmwm/CRAB2/issues/932

On 11/28/2013 04:57 PM, Stefano Belforte wrote:

[2013-11-28 16:11] fanzago commented on #788
yes, and about this point there was my last implementation described in the ticket https://github.com/dmwm/CRAB2/issues/932. So now we have a json file about the missing lumi of the user task (difference with the argument.xml) and also a file about the missing lumi related the initial lumimask provided by user.

[2013-11-28 16:29] belforte opened #950 "bad path for dbs3client"
with crab292 in PYTHONPATH there is /afs/cern.ch/user/b/belforte/WORK/CRAB_DEVEL/externaldbs3client
lacks the / between external and dbs3client

[2013-11-30 16:07] #950 closed, assigned to belforte

[2013-12-06 09:45] belforte opened #955 "when making tarball do rm -rf .git"

[2013-12-06 09:46] belforte commented on #948
fix released in 2_10_1

[2013-12-06 09:46] #948 closed, assigned to nobody

[2013-12-06 09:47] belforte commented on #945
fix released in 2_9_2

[2013-12-06 09:47] #945 closed, assigned to belforte

[2013-12-06 09:47] belforte commented on #944
fix released in 2_9_2

[2013-12-06 09:47] #944 closed, assigned to belforte

[2013-12-06 09:47] belforte commented on #942
fix released in 2_10_1

[2013-12-06 09:47] #942 closed, assigned to belforte

[2013-12-06 09:48] belforte commented on #940
fix released in 2_9_2

[2013-12-06 09:48] #940 closed, assigned to belforte

[2013-12-06 09:48] belforte commented on #938
fix released in 2_9_2

[2013-12-06 09:48] #938 closed, assigned to belforte

[2013-12-06 09:48] belforte commented on #937
fix released in 2_9_2

[2013-12-06 09:48] #937 closed, assigned to belforte

[2013-12-06 09:49] belforte commented on #936
fix released in 2_9_2

[2013-12-06 09:49] #936 closed, assigned to belforte

[2013-12-06 09:49] belforte commented on #930
fix released in 2_9_2

[2013-12-06 09:49] #930 closed, assigned to belforte

[2013-12-06 09:50] belforte commented on #893
fix released in 2_10_1

[2013-12-06 09:50] #893 closed, assigned to belforte

[2013-12-06 09:51] belforte commented on #788
fix released in 2_10_1

[2013-12-06 09:51] #788 closed, assigned to fanzago

[2013-12-06 13:29] belforte opened #956 "flag empty ISB in remoteGlidein"
throw a clear error if ISB is empty at
https://github.com/dmwm/ProdCommon/blob/master/src/python/ProdCommon/BossLite/Scheduler/SchedulerRemoteglidein.py#L77

instead of obscuring failing later beacuse shortFileList is not defined

[2013-12-06 14:38] belforte commented on #956
see: https://github.com/dmwm/ProdCommon/issues/1

[2013-12-06 15:01] belforte commented on #956
fixed in PRODCOMMON_0_12_18_CRAB_58
need to modify PrepareTarBall.sh

[2013-12-06 15:31] #955 closed, assigned to belforte

[2013-12-06 15:31] #956 closed, assigned to belforte

[2013-12-06 15:37] belforte opened #958 "improve DBS2 DBS3 verification in DataDiscovery"

[2013-12-10 10:33] belforte commented on #178
Lola is working on the SSB part. but that will not fully replace.

[2013-12-10 10:41] belforte commented on #177
On 12/10/2013 11:33 AM, letts wrote: > We have to do this by March ...

[2013-12-10 21:03] belforte commented on #886
won-t do --> close

[2013-12-10 21:03] #886 closed, assigned to belforte

[2013-12-10 21:18] belforte commented on #884
wan't do --> close

[2013-12-10 21:18] #884 closed, assigned to belforte

[2013-12-10 21:20] belforte commented on #832
Crab3 will do this, not Crab2

[2013-12-10 21:20] #832 closed, assigned to belforte

[2013-12-13 21:41] belforte opened #959 "implement allowNonProductionCMSSW"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabDevelopment/1734/1/2/1/2/1/2/1/1/3.html
and
https://github.com/dmwm/CRABServer/issues/4147

[2013-12-18 12:53] belforte opened #960 "fix CE reporting to dashboard when using OpenStack"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7034.html

i.e. need to change in CMSSW.sh

GKtmp="`echo $GLIDEIN_Gatekeeper | sed -e s,https://,,`"
SyncCE="`echo $GKtmp | cut -d: -f1`"

to accept also http w/o the s

[2013-12-18 17:23] belforte commented on #959
Done:
Log file is /afs/cern.ch/work/b/belforte/TESTCRAB/crab_0_131218_182208/log/crab.log
belforte@lxplus404/TESTCRAB> crab -create
crab:  Version 2.10.1 running on Wed Dec 18 18:22:35 2013 CET (17:22:35 UTC)

crab. Working options:
        scheduler           remoteglidein
        job type            CMSSW
        server              OFF
        working directory   /afs/cern.ch/work/b/belforte/TE

[2013-12-19 16:34] ericvaandering opened #961 "Default proxy length"
I just had a chat with Tony Tiradani. I gather that servers (e.g. DBS) that are SL6 will no longer work with 512 bit proxies. We don't have SL6 servers yet, but the solution is simple enough we may want to inoculate ourself now agains any issues. One can supply -bits 1024|2048|4096 on the command line for the voms-proxy-init command to generate a longer proxy.

1024 is the default in recent OSG cl

[2013-12-19 21:55] belforte commented on #961
easy yes, but.. is it needed ? current gLite UI 3.2.11 used e.g. at lxplus and LPC makes 1024-bit proxies already. We had not seen any hint of 512bit user's proxies around.
changing v-p-i command in crab2 requires a new tag of ProdCommon, too much work.

[2013-12-19 22:26] ericvaandering commented on #961
Ah, then I would say "no." I had understood 512 bits were common.

[2013-12-19 22:53] belforte commented on #961
ok, let's close.

[2013-12-19 22:53] #961 closed, assigned to belforte

[2013-12-20 12:30] belforte opened #962 "add DESIRED_ARCH in JDL"
to be what can be used to select cluster, i.e. hardware.
sl6_x86 vs. sl6_arm e.g.
not the gcc version which is due to CMSSW
need to put something that can be matched to what pilots advertise w/o substring parsing (igor says that otherwise negotiator needs to use too much CPU).

A possible alternative (IIUC what Igor said) is that CMS specific part of pilot detects the arch and publishes the class

[2013-12-20 15:41] belforte opened #963 "use DBS3 client DBS_3_1_8c or later"
since this fixes
https://github.com/dmwm/DBS/issues/264

[2013-12-21 14:50] #960 closed, assigned to belforte

[2013-12-21 14:50] #963 closed, assigned to belforte

[2013-12-21 15:00] belforte opened #965 "document use_dbs3 and verify_dbs23 in crab -help"

[2013-12-21 15:09] #965 closed, assigned to belforte

[2013-12-21 15:14] #959 closed, assigned to belforte

[2013-12-21 15:15] #958 closed, assigned to belforte

[2013-12-21 16:26] belforte opened #967 "change version to 2_10_2"

[2013-12-21 16:33] #967 closed, assigned to belforte

[2013-12-21 21:55] belforte opened #969 "add parent list to dbs23 verification"

[2014-01-08 15:21] fanzago opened #970 "the parameter allowNonProductionCMSSW doesn't work"
The if - else code in cms_cmssw to catch the value of allowNonProductionCMSSW parameter is wrong:
the parameter name has to be catch in lowercase and the value should be an integer.

Already fixed and committed in git and in afs (CRAB_2_10_2 code) (I know, this is not the correct way to do this thing, we should create a new pre, but an user is using a not production version of cmssw.... https://hy

[2014-01-08 18:32] belforte commented on #970
thanks Federica, sorry about this.
Anyhow I can understand the lowercase (sorry, never noticed that all config param names are converted to lowercase), but why integer ?
As to "proper way". The proper way is to open an issue first and then refer to it in the commit. So that github keeps the  relationship and allows to navigate from issue to code and viceversa.
I will do that now and I will create

[2014-01-08 20:19] belforte commented on #837
as discussed with Yuyi:
processed dataset name has to be < 200 chars
pset name has to be < 100 chars

The parameter set name column is defined as 1000 characters in DBS2, it is 100 in DBS3.  Processed DS name is defined as 500 characters in DBS2, 200 in DBS3.

[2014-01-08 22:22] #970 closed, assigned to fanzago

[2014-01-09 12:06] belforte opened #972 "make sure jobs go OK to CNAF after SE name change for tape"
see
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1301/2/1/2/2/2/1/1/2/1/1/1/1/2/1/1.html

[2014-01-09 15:33] belforte commented on #972
everything OK:

dataset on tape at CNAF
/RandomTriggers/Run2010A-v1/RAW

location is blacklisted by "TAPE" in global default blacklist as expected, and no jobs are created.
(as a general note, when using split by lumi there is no clear message if no location is found, should do something about it)

dataset on disk at CNAF (jobrobot/hc one):
/GenericTTbar/HC-CMSSW_5_3_1_START53_V5-v1/GEN-SIM-RECO
s

[2014-01-09 15:33] #972 closed, assigned to belforte

[2014-01-11 10:04] belforte opened #973 "when OSB is too big exit code 70000 is not put in crab_fjr"

[2014-01-14 22:32] belforte opened #974 "DBS3 access fails when using publish ?"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7136/1/1.html

maybe becasue user had publish=1 in crab.cfg ?

[2014-01-14 22:45] belforte commented on #974
no, it is simply a very bad way of failing on a dataset name not present in DBS.

[2014-01-14 22:45] #974 closed, assigned to belforte

[2014-01-14 22:51] belforte opened #975 "when dataset is not in DBS3 there should be a clean error"
not a tracleback like:
crab:  Contacting Data Discovery Services ...
crab:  Accessing DBS at: https://cmsweb.cern.ch/dbs/prod/global/DBSReader
crab:  Will do Data Discovery using  DBS3
crab:  DBS3 lookup took  0.09 sec
Traceback (most recent call last):
  File "/afs/cern.ch/user/b/belforte/WORK/CRAB_DEVEL/python/crab.py", line 927, in <module>
    crab.initialize_(options)
  File "/afs/cern.ch/use

[2014-01-23 23:31] belforte opened #976 "dbs_caf_analysis_01 as input does not work with crab_2_10_2"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7152/1/1/1/1/1/1.html

[2014-01-24 14:34] belforte opened #977 "list of CMSSW releases is now at https://cmssdt.cern.ch/SDT/cgi-bin/ReleasesXML"

[2014-01-25 09:37] belforte opened #978 "when sitedb username lookup fails, try to clean cache"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7163/1/2.html

[2014-01-25 09:39] belforte opened #979 "crab_2_10_2_patch2"
minor urgent fixed before DBS2/3 migration

[2014-01-25 09:40] #979 closed, assigned to nobody

[2014-01-25 09:44] belforte commented on #933
will not be an issue anymore with DBS3, coming in on Feb 10.

[2014-01-25 09:44] #933 closed, assigned to fanzago

[2014-01-25 09:46] belforte commented on #688
not needed. WE move to DBS3 on Feb 10

[2014-01-25 09:46] #688 closed, assigned to fanzago

[2014-01-25 09:48] belforte opened #980 "allow using non standard DBS url's"
like cmsweb-testbed or
dbs_url = https://dbs3-dev01.cern.ch:8443/dbs/dev/phys03/DBSReader

[2014-01-25 09:49] belforte opened #981 "make crab -publish work with DBS3"

[2014-01-25 09:52] belforte commented on #977
this goes in: python/cms_cmssw.py

[2014-01-27 15:07] belforte opened #982 "make sure to use RFC proxies"
i.e.
voms-proxy-init -rfc
see
https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1191.html

[2014-01-27 15:37] belforte opened #983 "use crabException in DataDiscovery"
because it prints nicely formatted messages instead of things like
 ('U', 'N', 'K', 'N', 'O', 'W', 'N', ' ', 'D', 'B', 'S', ' ', 'E', 'N', 'D', ' ', 'P', 'O', 'I', 'N', 'T', ':', ' ', 'h', 't', 't', 'p', 's', ':', '/', '/', 'd', 'b', 's', '3', '-', 'd', 'e', 'v', '0', '1', '.', 'c', 'e', 'r', 'n', '.', 'c', 'h', '/', 'd', 'b', 's', '/', 'd', 'e', 'v', '/', 'p', 'h', 'y', 's', '0', '3', '/', 'D', '

[2014-01-27 15:58] belforte commented on #983
Also in DattaLocation.py

[2014-01-27 20:04] #977 closed, assigned to belforte

[2014-01-27 20:04] #980 closed, assigned to belforte

[2014-01-27 20:04] #983 closed, assigned to belforte

[2014-01-27 20:09] #976 closed, assigned to belforte

[2014-01-28 12:23] belforte opened #986 "stupid typo in DataDiscovery: knwon --> known"

[2014-01-28 12:26] #986 closed, assigned to belforte

[2014-01-28 19:23] belforte commented on #982
also

additional reminder: if you're using myproxy, you need to set

export GT_PROXY_MODE=rfc

before running myproxy-init to make sure that the proxy stored in the
myproxy server (and any proxy retrieved from there with
myproxy-get-delegation) is RFC-compliant.

 see  https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1191/1/1/1/1/1/1/1/1.html

[2014-01-28 22:32] belforte opened #988 "DataDiscovery fails if crab.cfg has both a DBS3 end point and use_dbs3=1"

[2014-01-29 00:30] belforte opened #989 "use dbs3client 3.1.9c"
per Yuyi's instructions:

The recent release of DBS client 3.1.9c  has better handle on this. It tells the user that maybe a mistake in the url instead of json decode error.

Cheers,
Yuyi

[2014-01-31 13:57] belforte opened #991 "use PRODCOMMON_0_12_18_CRAB_59"
needed for new pbsv2 scheduler. see #990

[2014-02-02 17:33] #988 closed, assigned to belforte

[2014-02-02 17:45] belforte commented on #991
in 2_10_2_patch4

[2014-02-02 17:45] #991 closed, assigned to belforte

[2014-02-02 17:46] belforte commented on #989
in 2_10_2_patch4

[2014-02-02 17:46] #989 closed, assigned to belforte

[2014-02-04 21:27] belforte opened #994 "typo in dbs3_publish.py"
at this line
https://github.com/dmwm/CRAB2/blob/master/python/dbs3_publisher.py#L680
maybe srcUrl should be dstUrl ?

this is a bit of an overkill anyhow, since we expect to publish to phys03 only

[2014-02-04 22:48] fanzago commented on #994
yes, I change it, thanks.

[2014-02-04 23:44] fanzago commented on #994
change committed in git

[2014-02-04 23:45] #994 closed, assigned to fanzago

[2014-02-06 11:01] #975 closed, assigned to belforte

[2014-02-07 10:08] belforte opened #996 "check against dot "." in publish_data_name"
publish_data_name becomes part of the output LFN's, but dot is not an allowed character as part of a subdirectory in Lexicon.py used by DBS3 and WMCore.

In any case a dot in a directory name will be confusing.

[2014-02-07 14:03] #996 closed, assigned to belforte

[2014-02-10 10:26] belforte opened #1000 "migrate in DBS3 by blocks, not full dataset"
this is recommended and so far more tested.

[2014-02-10 10:27] belforte opened #1001 "improve messages for publication in DBS3"
give users clues at what's going on and make it more clear when it worked

[2014-02-13 11:02] #1000 closed, assigned to belforte

[2014-02-13 12:14] belforte opened #1004 "protect against DBS3 Migration status check failing"
In [146]: result=apiMig.submitMigration({'migration_input': block, 'migration_url': 'https://cmsweb.cern.ch/dbs/prod/global/DBSReader/'})

In [147]: result
Out[147]:
{'migration_details': {'create_by': 'belforte',
                       'creation_date': 1392291060.52,
                       'last_modification_date': 1392291060.52,
                       'last_modified_by': 'belforte',

[2014-02-13 12:15] #1004 closed, assigned to belforte

[2014-02-13 12:16] belforte commented on #981
can't say why github did not close this automatically, anyhow it is done.

[2014-02-13 12:16] #981 closed, assigned to belforte

[2014-02-13 12:18] belforte commented on #969
realistically, will only do if we find problems

[2014-02-13 12:18] #969 closed, assigned to belforte

[2014-02-13 21:43] belforte commented on #1001
was done in 2_10_3_pre6. Do not know why github did not close automatically

[2014-02-13 21:43] #1001 closed, assigned to belforte

[2014-02-13 21:44] belforte opened #1007 "do not apply WMCore/Lexicon to LFN if no publication is requested"
currently it fails if there's no publication request with
crab: PhEDExDataSvcInfo.py: ERROR in generated LFN :
'/store/user/belforte/dummy.root' does not match regular expression /store/results/([a-zA-Z-_]+)/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/([A-Z-_]+)/([a-zA-Z0-9-_]+)/([0-9]+)/([a-zA-Z0-9-_]+).root

[2014-02-14 09:34] #1007 closed, assigned to belforte

[2014-02-14 12:22] belforte opened #1009 "migration in DBS3 is automatically retried 3 times"
it is not enough state=3 to say that it failed, need to check retry_count

[2014-02-14 12:58] fanzago commented on #1009
Stefano,  does it mean to check if 3 attempts have been done?

[2014-02-14 13:03] belforte commented on #1009
yes. terminal state is:
state=2 OR (state=3 AND retry_count=3)
any other state can still change

[2014-02-14 13:04] belforte commented on #1009
I have discussed with manuel addition of a 4th state, to make things clear

[2014-02-14 16:11] #1009 closed, assigned to belforte

[2014-02-14 21:58] belforte opened #1011 "retry migration request submission upon 'REQUEST ALREADY QUEUED'"
from Yuyi:

So in general for now, you may want to resubmit a request if you get 'REQUEST ALREADY QUEUED'. If request did not go through after the second time, you may want to call statusMigration with block_name or dataset (depending on what is the migration_input when you create the request), if this give you back there is indeed a request already. Then you don't need to do anything. If the stat

[2014-02-14 22:16] belforte commented on #837
this is now in WMCore/Lexicon.py
https://github.com/dmwm/WMCore/issues/4941
https://github.com/dmwm/WMCore/commit/331a44d927154d8d28b2cadc5ff49ab976764180
https://github.com/dmwm/WMCore/pull/4943

[2014-02-14 22:16] #837 closed, assigned to belforte

[2014-02-14 22:18] belforte opened #1012 "when publishing import parents only for needed blocks"
instead of migration full input dataset with all parent,
migrate only the blocks used by this crab task

[2014-02-14 22:44] belforte opened #1013 "make sure to import all parents of produced data"
not only input dataset and its parents, so cover e.g pileup

[2014-02-17 10:36] belforte commented on #1011
Given how things are now, even if I hope problem will be solved,
I think it is better that code given to users exits immediately as soon as abnormal DBS3 response is given and I put a message to upload log and contact support.
I do this when we REQUEST ALREADY QUEUED or can not get migration status.

[2014-02-17 18:05] belforte opened #1015 "typo in CMSSW release url in message"
On 02/17/2014 06:46 PM, Bockjoo Kim wrote:> It looks like there is a non-critical typo in CRAB.

[2014-02-17 18:15] belforte opened #1016 "allow all non-deprecated CMSSW releases"
On 02/17/2014 07:07 PM, Bockjoo Kim wrote:> Yes, the link lists all slc5/slc6/pre/patch CMSSW installations on CVMFS.

[2014-02-17 21:02] belforte commented on #982
will require new ProdCommon tag: PRODCOMMON_0_12_18_CRAB_60

[2014-02-17 21:40] belforte commented on #978
too risky to change code drastically in there, would need to test faking problems etc...
I simply worte in the message that uset should do crab -cleanCache and try again.

[2014-02-18 14:21] belforte opened #1017 "add expert switch to publish in DBS3 int or dev instance"

[2014-02-18 14:37] belforte commented on #1011
Maybe I need to do something, am not sure if REQUEST ALREADY QUEUED is error or not. Waiting for Yuyi to explain.

[2014-02-18 14:50] belforte opened #1018 "make it clear when there are no good fjr's to publish"

[2014-02-18 15:20] belforte commented on #1011
More info from Yuyi:

On 02/18/2014 03:53 PM, Yuyi Guo wrote:

[2014-02-18 16:41] #978 closed, assigned to belforte

[2014-02-18 16:41] #982 closed, assigned to belforte

[2014-02-18 16:41] #1015 closed, assigned to nobody

[2014-02-18 16:41] #1017 closed, assigned to belforte

[2014-02-18 16:43] belforte commented on #1018
pull request #1019 fixed this. Dunno why github did not close automatically

[2014-02-18 16:43] #1018 closed, assigned to belforte

[2014-02-20 22:16] belforte opened #1020 "check primary dset name against Lexicon"
for user generated data, we use publish data name as primary dset name,
must make sure it agrees with Lexicon.py
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7233/1/2.html

[2014-02-20 22:47] belforte opened #1021 "create temporary patch to let user publish MC when primary dset start with a number"
to be removed once #1020 is fixed
until then add "p" in front of primary dataset name before passing to DBS3

[2014-02-21 15:52] belforte commented on #1021
fix released in CRAB_2_10_3_patch1. Dunno why githup did not close automatically

[2014-02-21 15:52] #1021 closed, assigned to nobody

[2014-02-21 16:17] belforte opened #1023 "get Lexicon.py from WMCore"

[2014-02-21 22:14] belforte commented on #1013
see e.g.
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7246.html

[2014-02-24 13:54] belforte opened #1024 "phys02 missing from known DBS3 url's"
resulting in:
2014-02-24 14:45:22,018 [DEBUG]     No mapping to a DBS2 instance possible for dbs_url=https://cmsweb.cern.ch/dbs/prod/phys02/DBSReader

[2014-02-24 14:32] belforte opened #1025 "caf01 is mapped to CAF in DBS3"
Yes, Stefano. You understood me right.

However, regarding the names, we have the DB is named as cms_dbs3_prod_caf_\* that is following the same naming schema we are using for all the DBS' DBs. I did not put 01 because this is the only one caf we have and we will have.

So the instance name will be https://cmsweb.cern.ch/dbs/prod/caf/*.  Caf will only on cmsweb. So no int/caf or dev/caf.

Ciao,
Yu

[2014-02-24 21:45] belforte opened #1026 "beware duplicate parents in FJR"
see:
https://hypernews.cern.ch/HyperNews/CMS/get/dmDevelopment/1573/1/1.htm

copying here the conclusion:
user job processed two input files, adding pile up, to add pile up
the same two minbias files have been used, opening and closing
them for each of the two inputs (let's not care here if that
makes a statistical biased sample or not).
Somehow the FJR produced by cmsRun has sort of a cronologica

[2014-02-24 22:34] #1024 closed, assigned to belforte

[2014-02-24 22:34] #1025 closed, assigned to belforte

[2014-02-24 23:22] belforte commented on #1026
fix in CRAB_2_10_3_patch2

[2014-02-24 23:22] #1026 closed, assigned to belforte

[2014-02-24 23:23] belforte commented on #1023
fix in CRAB_2_10_3_patch2

[2014-02-24 23:23] #1023 closed, assigned to nobody

[2014-02-24 23:23] belforte commented on #1020
fix in CRAB_2_10_3_patch2

[2014-02-24 23:23] #1020 closed, assigned to belforte

[2014-02-25 16:25] belforte opened #1028 "remove temporary patch introduced with #1021"
should not be needed anymore since #1020 was fixed.
verify and remove temporary patch

[2014-02-26 12:28] belforte opened #1029 "at times failure to find cmssw makes jobs to be held"
see
https://savannah.cern.ch/support/?142077

[2014-02-26 13:51] belforte opened #1030 "CrabException, not crabException"
in DataDiscovery.py

[2014-02-26 14:09] belforte opened #1031 "improper handling of DbsBadRequest in DataDiscovery"
was:
 except DbsBadRequest, msg:

but DbsBadRequest returns an exception, not a string, need to use str(msg) to pass to CrabException

[2014-02-26 14:28] belforte opened #1032 "allow string in prog verions, like 2.10.3_patch3"

[2014-02-26 14:30] #1031 closed, assigned to nobody

[2014-02-26 14:30] #1032 closed, assigned to belforte

[2014-02-26 16:41] belforte commented on #1030
fix  pulled in #1033

[2014-02-26 16:41] #1030 closed, assigned to belforte

[2014-02-27 15:02] belforte opened #1034 "do not go on when remote_dir_ check in crab -crete fails"
currently crab -create catches the exception and goes on leaving user with a corrupted task db which gives all kind of obscure faillures at crab -submit time.
See e.g.
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7273.html

[2014-02-27 15:53] belforte commented on #1034
the check is done too late to revert the fact that crab -create already wrote a sqlLite DB. So simply make the error non fatal and complete job creation so that submit will work.

[2014-02-27 15:54] #1034 closed, assigned to belforte

[2014-02-27 16:49] belforte opened #1036 "when reading DBS3 make sure files are valid"
see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7269/1/1/1/2.html

[2014-02-28 14:06] belforte opened #1037 "allow tag like patch1 or pre2 in prog_name printed by crab"

[2014-02-28 14:11] yuyiguo commented on #1036
DBS3 by default is return only valid dataset. The the DBS2 status is now called dataset_access_type in DBS3. The dataset access types are: valid, invalid, production ....
Please ignore the is_dataset_valid flag. It is set true to all datasets.

[2014-02-28 14:17] belforte commented on #1036
yes, listDatastes returns only valid datasets, but listFiles returns all files in a dataset
including invalid ones.

On 02/28/2014 03:11 PM, Yuyi Guo wrote:

##

Stefano Belforte - I.N.F.N.     tel   : +39 040 375-6261 (fax: 375-6258)
Area di Ricerca - Padriciano 99 tel mobile: +39 328 010 7327
34012 TRIESTE TS  - Italy       AIM: stefanobelforte

[2014-02-28 14:25] yuyiguo commented on #1036
listFiles requires  a dataset , a block or a lfn, so it lists what is required. We assume that when these names are given, one really want to know what inside is no mater it is valid or invalid.

[2014-02-28 14:29] belforte commented on #1036
sure. I am not complaining. We agree. I only say that in Crab2/3 we need to make sure we only use
valid files. In the end we need a list of LFN's to give to cmsRun for reading.

[2014-03-01 14:45] belforte opened #1038 "DBS3 migration server now returns status=9 to flag failed migration"
see
https://github.com/dmwm/DBS/issues/356

[2014-03-01 15:52] #1011 closed, assigned to belforte

[2014-03-01 15:52] #1028 closed, assigned to belforte

[2014-03-01 15:52] #1036 closed, assigned to belforte

[2014-03-01 16:54] belforte commented on #1038
in 2_10_4_pre1

[2014-03-01 16:54] #1038 closed, assigned to belforte

[2014-03-01 16:54] belforte commented on #1037
in 2_10_4_pre1

[2014-03-01 16:54] #1037 closed, assigned to belforte

[2014-03-01 16:54] belforte commented on #1013
in 2_10_4_pre1

[2014-03-01 16:54] #1013 closed, assigned to belforte

[2014-03-01 16:54] belforte commented on #1012
in 2_10_4_pre1

[2014-03-01 16:54] #1012 closed, assigned to belforte

[2014-03-01 16:56] belforte opened #1041 "make sure we do not publish accidentally twice the output of same job after resubmission"

[2014-03-04 09:58] belforte opened #1042 "make sure CrabException is correctly spelled"
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7286.html

[2014-03-04 12:22] belforte commented on #1042
already fixed in #1030

[2014-03-04 12:22] #1042 closed, assigned to belforte

[2014-03-04 13:00] belforte opened #1043 "make CERN CAF jobs run on SL6"
see
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1487/1/1/1/1/1/1/1/2.html

Hi Stefano,

I took two minutes to look at the CRAB2 source code and found for the
LSF and CAF scheduler lines like this:

  def configure(self, cfg_params):
         SchedulerLocal.configure(self, cfg_params)
         self.outputDir = cfg_params.get('USER.outputdir'
,common.work_space.resDir())
         self.res =

[2014-03-04 14:00] #1043 closed, assigned to belforte

[2014-03-05 10:50] belforte commented on #962
that is the output of cmsos
should be easy for glidein to publish it. but also for factory to change os=sl6 to os=slc6_amd64

[2014-03-05 15:11] belforte commented on #1041
anyhow it seems we never had a protection against this before

[2014-03-05 17:32] belforte opened #1045 "use WMCore WM 0.9.94"
see https://github.com/dmwm/WMCore/issues/4947#issuecomment-36768171

[2014-03-05 22:27] belforte commented on #1029
indeed can't find any good reason why the wrapper checks for $PYTHONPATH to be defined before creating a dummy FJR to host the 10034 exit code

[2014-03-06 16:01] belforte opened #1046 "do not expect DBS2 exception when using DBS3"
see
https://github.com/dmwm/CRAB2/blob/CRAB_2_10_3_patch2/python/crab_dbs3publish.py#L243
and
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7296/1/2/1.html

[2014-03-06 16:03] #1016 closed, assigned to belforte

[2014-03-06 16:03] #1045 closed, assigned to belforte

[2014-03-06 16:05] #1046 closed, assigned to belforte

[2014-03-06 16:08] #1029 closed, assigned to belforte

[2014-03-06 20:50] belforte commented on #962
this is getting a bit different:

Now, that's what the glideins advertise.

To keep with the gldiein naming convention, we would use
+DESIRED_OpSys
+DESIRED_OpSysMajorVer
+DESIRED_Arch

But that assumes we only ever specify a single possibility.
We should probably allow for lists instead, right?

e.g. a 32bit binary can run both on "INTEL" and "X86_64".
Or is that not an option?

Cheers,
  Igor

O

[2014-03-07 11:53] belforte opened #1048 "when > 500 files needs publishing Crab only publishes n*500"
On Fri, Mar 7, 2014 at 8:28 AM, Ben Kreis kreis@cern.ch wrote:

[2014-03-07 11:54] belforte opened #1049 "illegal dataset name created"
see
Stefano Belforte

11:09 AM (1 hour ago)

to hn-cms-crabFee.
**\* Discussion title: CRAB Feedback

thanks Lucia.
Indeed also the log where you managed to publish shows the same error:
2014-03-06 17:17:56,593 [INFO]  Error when listing files in DBSHTTP
Error 400: Invalid Input Data /higgsToZA...: Not Match Required
FormatTraceback (most recent call last):

And I see a very odd dataset name:
/hig

[2014-03-07 12:01] belforte opened #1050 "relax dataset name checking for inputdataset"
anything that was in DBS2 has to be accepted. see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7309.html
namely:

We have several datasets which were previously published in the cms_dbs_ph_analysis_02 instance of DBS2 and which have a period ('.') in the dataset name. For example,
/stop600ToBottom_1.00mm_8TeV-pythia6_Summer12-START52_V9-v2/ahart-stop600ToBottom_1.00mm_TuneZ2star_8TeV-

[2014-03-07 13:07] belforte commented on #1050
this is not due to Crab, but to DBS3. At the moment users can still read from DBS2.

[2014-03-07 13:07] #1050 closed, assigned to belforte

[2014-03-07 17:29] belforte commented on #1049
origin of problem understood:
user has a filter in the cmssw config file,
note the line: filterName = cms.untracked.string('Digi.root')

process.RAWSIMoutput = cms.OutputModule("PoolOutputModule",
    splitLevel = cms.untracked.int32(0),
    eventAutoFlushCompressedSize = cms.untracked.int32(5242880),
    outputCommands = process.RAWSIMEventContent.outputCommands,
    fileName = cms.untracked.stri

[2014-03-07 21:23] belforte opened #1051 "add to distribution and documentation invalidate script for DBS3"
On 03/07/2014 08:29 PM, Yuyi Guo wrote:> I forgot this. We do have a script that was wrote for the dataOps.

##

Stefano Belforte - I.N.F.N.     tel   : +39 040 375-6261 (fax: 375-6258)
Area di Ricerca - Padriciano 99 tel mobile: +39 328 010 7327
34012 TRIESTE TS  - Italy       AIM: stefanobelforte

[2014-03-10 16:46] belforte commented on #1049
so this is an issue for ProdCommon
https://github.com/dmwm/ProdCommon/issues/6
will need  a new ProdCommon tag

[2014-03-10 16:50] belforte commented on #1049
new ProdCommon tag is
PRODCOMMON_0_12_18_CRAB_61

[2014-03-10 22:11] #973 closed, assigned to belforte

[2014-03-10 22:11] #1049 closed, assigned to belforte

[2014-03-11 08:07] belforte opened #1053 "make it clear to user when publication succeeds"
seems current text is not "evident" enough:
crab:  Publishing block
/GEN_SIM_T1/gechen-GEN_SIM_T1-1f4a7d395f3a9667cb7c61d898bdeffb/USER#d0abcf6d-41e3-4352-b457-6b4f2187d0f8
with 5 files
crab:  Summary of file publication :  published 5, failed 0,
still_to_publish 0
Log file is
/uscms_data/d3/gengchen/test/CMSSW_5_3_2_patch5/src/GENSIM/crab_0_140310_212800/log/crab.log

[2014-03-11 08:22] belforte opened #1054 "avoid submitting jobs with UKNOWN desired SE"
e.g. when no location is found

also for datasets migrated from global to local should use phedex, not site_origin_name

[2014-03-11 15:02] belforte opened #1055 "for dataset migrated from global to local DBS use location from global"
when dataset is migrated it is still accessible, but DB3 has no location. Or even worse a bad one like the SE where the file was initially created and then deleted.
Somehow in this case DBS2 was apparently falling back silently to PhEDEx.

Maybe even as simple as tell user to make sure they really want to use local DBS,
or enforce that only USER tier can be accessed in phys03 ?

[2014-03-11 15:02] belforte commented on #1054
let's move using phedex for datases migrated from global to local to a separate issue: #1055

[2014-03-11 15:15] belforte opened #1056 "when using split by Lumi there is no warning if dataset has no available location"
while for splitting by event:
crab:  List of jobs and available destination sites:

Block     1: jobs                  1-5: sites:

crab:  WARNING: No sites are hosting any part of data for block:
                 1
                Related jobs:
                 1-5
                will not be submitted and this block of data can not be analyzed!

crab: Requested jobs cannot be Created!

that mess

[2014-03-12 16:13] belforte opened #1057 "make it clear when crab_fjr contains no publisheable file"
see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7324/1/1/1/1/1/1/1.html
and
https://github.com/dmwm/ProdCommon/blob/master/src/python/ProdCommon/FwkJobRep/FwkJobReport.py#L117

[2014-03-12 17:28] belforte commented on #1051
added to tarball. documentation will take longer. will open another issue

[2014-03-12 17:38] #735 closed, assigned to fanzago

[2014-03-12 17:38] #1054 closed, assigned to belforte

[2014-03-12 17:38] #1056 closed, assigned to belforte

[2014-03-12 17:38] #1057 closed, assigned to belforte

[2014-03-12 17:40] belforte commented on #1053
in 2_10_4_pre5

[2014-03-12 17:40] #1053 closed, assigned to belforte

[2014-03-12 17:40] belforte commented on #1051
in 2_10_4_pre5

[2014-03-12 17:40] #1051 closed, assigned to belforte

[2014-03-12 17:42] belforte commented on #177
@jamesletts James, I think this is done. May I close ?

[2014-03-12 17:46] jamesletts commented on #177
Yes please close this.

James

On Mar 12, 2014, at 10:42 AM, Stefano Belforte notifications@github.com wrote:

[2014-03-12 17:48] #177 closed, assigned to jamesletts

[2014-03-12 18:04] belforte commented on #962
summary:
So, for the lists, we go with
+DESIRED_OpSyses
+DESIRED_OpSysMajorVers
+DESIRED_Archs
currently known Archs are:

Arch = "X86_64"
Arch = "INTEL" for 32bit

for the others:
OpSys = "LINUX"
OpSysMajorVer = 6

[2014-03-12 18:11] belforte commented on #962
and the source of the mapping is:
$SCRAM_ARCH = slc5_amd64_gcc462
etc.
only exising non amd64 currently is
slc5_ia32_gcc434 for cmssw 3x long deprecated

[2014-03-12 19:50] belforte opened #1059 "use DBS client 3_2_3"
On 03/12/2014 07:22 PM, Yuyi Guo wrote:> Yes, please. The next release version is DBS_3_2_3. It should be production next Tuesday. I tested

[2014-03-12 21:27] #1059 closed, assigned to belforte

[2014-03-13 17:51] PerilousApricot opened #1061 "Resubmitting with PBSv2 plugin is bad to stdout"
I have a logic error where the "new" stdout is written to the Submission_1/ directory, leaving nothing left.

[2014-03-13 17:57] PerilousApricot commented on #1061
(I opened this to remind myself to fix this, please assign it to me)

[2014-03-13 17:57] belforte commented on #1061
Andrew, is this for you ? or for me ? And is it in Crab2 or ProdCommon ?

On 03/13/2014 06:51 PM, Andrew Melo wrote:

[2014-03-13 17:59] PerilousApricot commented on #1061
blargh, it might actually be ProdCommon. I need to hunt it down. The XML file ends up in the right place, it's just the stdout/err that end up going crazy

[2014-03-13 21:46] belforte commented on #962
see also:
https://cdcvs.fnal.gov/redmine/issues/5606
i.e.:

Good point...

We are currently missing this WN->factory channel.
But we always said we wanted it, so I will actually make a ticket for it, so it gets done.

Igor

PS: The GLIDEIN_REQUIRED_OS is a validation check that sort of does what we want.
    It checks that the WNs are what we expect them to be.
    But it is both very clunky to ma

[2014-03-14 10:30] belforte commented on #962
In the end the big questions is:
CMS sl5-32bit (e.g.) exe's run also on sl6 and/or 64bit (provided the installation includes compatibility lis etc.). WHERE SHOULD WE KEEP THIS KNWOLEDGE ?
1. So far (PeterElmer way): site announces in BDII the supported arch's.
2. Now (Condor) the side says what op.sys. they have and Crab makes a list of arch's where my executable can run

I am implementing 2. But

[2014-03-14 15:16] belforte opened #1064 "properly use relative directory in PrepareTarball"
https://github.com/dmwm/CRAB2/blob/master/python/PrepareTarBall.sh#L84

[2014-03-14 15:20] belforte opened #1065 "use plural name when DESIRED thing in JDL can be a list"
From Igor:
I would prefer if we added a final "s" to all the attributes that are lists...
this way we know what the semantics is.

So
+DESIRED_OpSyses = "LINUX"
+DESIRED_OpSysMajorVers = "5,6"
+DESIRED_Archs = "X86_64"

[2014-03-14 16:16] belforte commented on #1065
fix release in 2_10_4_pre7

[2014-03-14 16:16] #1065 closed, assigned to belforte

[2014-03-14 16:35] belforte commented on #1064
in 2_10_4_pre7

[2014-03-14 16:35] #1064 closed, assigned to belforte

[2014-03-14 16:36] belforte commented on #962
in 2_10_4_pre6

[2014-03-14 16:36] #962 closed, assigned to belforte

[2014-03-16 21:56] belforte opened #1067 "parent info could be in a different DBS instance"
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7336.html

[2014-03-17 14:23] belforte opened #1068 "in CMSSW.stdout put a timestamp at the end of the job"

[2014-03-17 14:46] belforte opened #1069 "trap all local batch interrrupts"
currently crab wrapper only traps SIGUSR2 and SIGTERM
but some batch system may also send SIGINT and others
in particular CERN is 'famous' for sending SIGING
see
http://information-technology.web.cern.ch/services/fe/lxbatch/howto/how-interpet-batch-job-return-codes
also try to print in the stdout which interrupt signal was received

[2014-03-17 14:48] belforte commented on #1069
ref:
https://github.com/belforte/CRAB2/blob/master/python/crab_template.sh#L138

[2014-03-17 21:14] PerilousApricot commented on #1069
What a mess.

[2014-03-17 21:19] belforte commented on #1069
@PerilousApricot  why ? I thought this to be simple, I forgot one signal and will add, tacking the chance to flag which signal was received. But maybe I  am missing something

[2014-03-17 21:21] PerilousApricot commented on #1069
It would be nice if the batch scheduler sent the message to the wrapper
script itself instead of one of its subprocesses.

[2014-03-17 21:26] belforte commented on #1069
maybe it does, but since crab does not trap it, the message gets passed down the chain. OTH.. what do I know of how these things really work ?

[2014-03-19 15:58] belforte opened #1070 "ignore input parent files not present in DBS"
crab_fjr.xml could list LFN that correspond to files read by user's code handing a LFN to cmsRun but not obtained from a DBS dataset. We can not record them as parents, at least not with current DBS3.
Example  is e.g. here
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7324/1/1/1/1/1/1/1/2/1/1.html

[2014-03-20 13:30] belforte commented on #1070
previous commit did not really make it

[2014-03-20 14:42] belforte commented on #1061
released in 2_10_4_patch2

[2014-03-20 14:42] #1061 closed, assigned to PerilousApricot

[2014-03-20 21:48] belforte opened #1075 "publication fails when input file has no LFN in fjr"
beacuse in this case the dictoinary created by
from ProdCommon.FwkJobRep.ReportParser import readJobReport
lists '' as parent, instead of an empty list.
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7360.html

[2014-03-20 21:51] #1075 closed, assigned to belforte

[2014-03-21 14:20] #1068 closed, assigned to belforte

[2014-03-21 15:57] belforte opened #1079 "bad print format"
File "/afs/cern.ch/work/b/belforte/MY_CRAB2/python/crab_dbs3publish.py", line 122, in migrateByBlockDBS3
    common.logger.info("%d blocks must be migrated to " % (nBlocksToMig,destReadApi.url) )
TypeError: not all arguments converted during string formatting

[2014-03-24 08:40] belforte commented on #1070
previous fix was removing parents-not-known-to-phedex only the first time, but leave them in the block to be published if present in other fjr's

[2014-03-25 07:10] belforte commented on #1067
fix released in 2_10_4_patch2

[2014-03-25 07:10] #1067 closed, assigned to belforte

[2014-03-25 10:04] belforte commented on #1079
fix released in 2_10_4_patch4

[2014-03-25 10:04] #1079 closed, assigned to belforte

[2014-03-25 10:04] belforte commented on #1070
fix released in 2_10_4_patch4

[2014-03-25 10:04] #1070 closed, assigned to belforte

[2014-03-25 10:04] belforte commented on #1069
fix released in 2_10_4_patch4

[2014-03-25 10:04] #1069 closed, assigned to belforte

[2014-03-25 12:47] belforte commented on #928
relevant code to change is in
https://github.com/belforte/CRAB2/blob/master/python/cms_cmssw.py#L1153

[2014-03-25 13:50] belforte commented on #928
maybe it the fjr parsing at the end of cmsRun/script_exe that needs fixing ?

[2014-03-25 15:55] belforte commented on #928
bah... I can't reproduce this and indeed code looks OK.
I do not see jobs failed with 70500 in last month in dashboard.

[2014-03-25 15:55] #928 closed, assigned to belforte

[2014-03-25 15:57] belforte opened #1083 "make use_dbs3=1 default"
in view of turning off DBS2 for a week starting April 7

[2014-03-27 08:18] belforte opened #1084 "correct se_black_list description in crab -help"
http://cmsdoc.cern.ch/cms/ccs/wm/www/Crab/Docs/crab-online-manual.html#se_black_list__glite_glidein_remoteglidein_

must clarify that se_b/w list for glidein works also w/o input dataset

[2014-03-27 13:15] #1083 closed, assigned to belforte

[2014-03-27 13:15] #1084 closed, assigned to belforte

[2014-03-27 15:00] belforte commented on #1041
since it is not clear what to do, I asked for advice
https://hypernews.cern.ch/HyperNews/CMS/get/analysisoperations/333.html

[2014-03-27 15:48] belforte commented on #1041
idea:
check if existing file is valid
if not valid, publish new one
if valid, do not publish and tell user to invalidate and do crab -publish again

[2014-03-27 15:54] belforte opened #1086 "DBS3 set file status does not work in crab env."
https://hypernews.cern.ch/HyperNews/CMS/get/dmDevelopment/1598/3/1.html

[2014-03-31 13:10] belforte commented on #1086
Solved by Dan Riley.  Current code in REST client does not work well with older versions of curl library. In practice it can be fixed by using CMSSW_6_0_0 or later. Will put that in the documentation until it is fixed by DBS3 developers

[2014-03-31 13:10] #1086 closed, assigned to belforte

[2014-04-01 15:34] belforte commented on #1048
this is a legacy of using Crab3 code which was for continously publishing and adding while ASO completes. Totally different flow. Also output is confusing. Time to clean up

[2014-04-01 16:46] belforte commented on #1048
this is an extensive rewriting, needed, but dangerous. let's schedule it for next release

[2014-04-01 16:50] #1041 closed, assigned to belforte

[2014-04-03 13:41] belforte commented on #1086
actually needs CMSSW_6_1_0 or later. see:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7410/1/1/1/1/1.html

[2014-04-03 20:47] belforte opened #1089 "prevent users from staging out to T1_US_FNAL"
Upon request from FNAL admins:

avoid that users put T1_US_FNAL as storage SE when they really needed to use T3_US_FNALLPC. There is no valid use case for T1_US_FNAL iin Crab, so if found.. throw an error and stop.

[2014-04-03 20:58] ericvaandering commented on #1089
Thanks! Maybe next week at OSG All Hands

[2014-04-03 22:10] belforte commented on #1089
if it gets urgent and you do not get to it, let me know and I should be able to push it in quickly with next patch

[2014-04-03 22:11] belforte opened #1090 "DataDiscover fails for DBS3 it there is an invalid file"
the internal structure to map LFN's to file dictionaries is not filled for invalid files, so must be carefult not to use it
see problem report
 https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7414/1.html

[2014-04-04 20:03] belforte opened #1094 "use SL6 for LSF submission at CERN"
see
https://hypernews.cern.ch/HyperNews/CMS/get/analysisoperations/337/2/1.html

[2014-04-04 20:04] belforte commented on #1094
see
https://github.com/belforte/CRAB2/blob/master/python/SchedulerLsf.py#L27

[2014-04-05 16:20] belforte commented on #1090
fix released in 2_10_5_patch1

[2014-04-05 16:20] #1090 closed, assigned to belforte

[2014-04-08 07:04] belforte commented on #758
realistiacally, with Crab3 coming out. This is not going to be done.

[2014-04-08 07:04] #758 closed, assigned to belforte

[2014-04-08 07:05] belforte commented on #736
realistically, it only gave problems once, so let's live with it.

[2014-04-08 07:05] #736 closed, assigned to fanzago

[2014-04-08 07:08] belforte commented on #844
realistically, with Crab3 coming out, it will never be done.

[2014-04-08 07:08] #844 closed, assigned to belforte

[2014-04-08 08:49] belforte opened #1095 "use EOS commands for stageout on LSF/CAF"
https://hypernews.cern.ch/HyperNews/CMS/get/analysisoperations/337/2/1/1/1.html

[2014-04-10 16:45] belforte opened #1098 "use new ProdCommon TAG"
see   https://github.com/dmwm/ProdCommon/issues/9

[2014-04-10 16:52] belforte commented on #1098
this is:
PRODCOMMON_0_12_18_CRAB_62

[2014-04-15 21:03] belforte commented on #1098
now PRODCOMMON_0_12_18_CRAB_63
since there's anew PBSv2 feature

[2014-04-16 07:43] belforte opened #1099 "DBS3 invalidation fails with many files"
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7457/1/1.html

[2014-04-16 11:23] belforte opened #1100 "deprecate crab -checkPublication"

[2014-04-16 14:56] belforte commented on #1089
@ericvaandering  is this still needed ?

[2014-04-16 14:59] ericvaandering commented on #1089
Yes

[2014-04-17 14:56] belforte commented on #1094
so far most nodes are SL5, so will need
type==SLC5_64 || type==SLC6_64

[2014-04-17 14:57] belforte opened #1101 "CAF is only SL5 atm"
so need in SchedulerCaf.py
type==SLC5_64 || type==SLC6_64

[2014-04-29 07:23] chwissing opened #1102 "check_HN_name.py not working on SL6"
Some hack is required to make check_HN_name.py also working on SL6. Some additional command line options are required. It should work like this:

curl -s -S  --capath $X509_CERT_DIR --cacert $X509_USER_PROXY --cert $X509_USER_PROXY --key $X509_USER_PROXY 'https://cmsweb.cern.ch/sitedb/data/prod/whoami'

Note however that the variables X509_CER_DIR and X509_USER_PROXY are not set by default on SL6

[2014-04-29 13:35] belforte opened #1103 "some combinations of cmssw/scram on lxplus6 make voms-* fail"
see thread:
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7484.html

this is due to new voms-proxy-\* in Java :-(

conclusion so far is that it may only be when using SL6 builds of CMSSW_6 which has SL5 as production arch (CMSSW 7 appears OK). But need to keep an eye

[2014-04-29 13:37] belforte commented on #1102
the lack of  X509_USER_PROXY is particularly annoying, may affect DBS3 data discovery. I thought I read that EMI developers acknowledged a regression and were going to add it back, but if it is still nothere with latest voms-proxy-init.. I guess I'll need to set it inside Crab2

[2014-04-29 15:17] chwissing commented on #1102
X509_USER_PROXY is the "usual gLite/EMI" default: /tmp/x509up_u{$ID}. X509_CERT_DIR is also the default /etc/grid-security/certificates/
You might want to use those in case they are not set in the environment.

[2014-04-29 15:26] belforte commented on #1102
yeah I know. I would probably rather use
export X509_USER_PROXY=`voms-proxy-info -path`
X509_CERT_DIR is more annoying since a site may decide to put those in some odd place, but hopefully will define the env. var. in that case.

[2014-04-30 20:30] belforte opened #1104 "make sure crab -help does not point to glite and/or crab2server"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7466/1/2.html

[2014-05-06 15:01] belforte opened #1105 "point to new location for Exit Codes twiki in public page"

[2014-05-10 17:14] belforte opened #1106 "beware FJR's with no lumi but exit code=0"
It is possible :-( that cmsRun ends with exit code= 0 , yet the FJR has no record of read run and lumi in the output file. This goes on undetected until crab publication code fails with a python exception when trying to manipulate the lumi list:
  File "/afs/cern.ch/work/b/belforte/MY_CRAB2/python/crab_dbs3publish.py", line 36, in format_file_3
    for run, lumis in file['runlumi'].items():
Attrib

[2014-05-15 14:22] belforte commented on #1105
this is in Status.py

[2014-05-15 16:06] belforte commented on #1106
All considered I will look for this in Publisher.py and avoid adding the fjr to the good_list.
I.e. leave the file with exit code = 0 but do not publish it. The alternative would be to catch it on the WN and force the job to have an error exit code, but I fear it may cause even more problems and all in all we do not check FJR's on the WN anyhow, all checks are on client side in Crab2.

[2014-05-19 08:40] fhoehle opened #1107 "SGE submission and username"
Dear CRAB team,

I encountered some stageout problems while using the sge scheduler.
The LFNBaseName is created by using the  getUserName function in crab_util.py. At the NAF the local username is not equal to the username in siteDB. Therefore the stageout to a given Tier 2 fails, because LFNBaseName points to an incorrect username i.e. /store/user/<not sitedb username>/... .
This commit:
https://

[2014-05-19 08:44] belforte commented on #1107
Yes, this way it is better, I'll put it in. Thanks

[2014-05-19 09:31] #1107 closed, assigned to belforte

[2014-06-04 20:29] belforte opened #1109 "upgrade DBS3 client to 3.2.4b"
Stefano,

Can you get this version of DBS client into any new CRAB releases? Fortunately I have not heard noise about new CRAB releases in a while. :-)

Eric

On Jun 4, 2014, at 9:32, Yuyi Guo yuyi@fnal.gov wrote:

[2014-06-05 06:14] belforte opened #1110 "do not refuse to publish different LFN's even if they have same job #"
see
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7554/1/2/1/1/1/1.html

[2014-06-05 12:12] belforte opened #1111 "validate with python 2.7.6"
Dear all,

I've prepared a special IB with an updated version of python (i.e.
2.7.6):

[code]

and subsequent ones. Can you please check everything is fine on your
sided and give me the ok for merging this in the official CMSSW IB?

-- Ciao, Giulio [ MIME part of type text/html without a name stripped ] ------------------------------------------------------------- Visit this CMS message (to reply

[2014-06-05 15:34] belforte opened #1112 "clarify questions for Node Name Migration"
see https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1674.html

On 06/04/2014 09:46 PM, Eric W Vaandering wrote:

[2014-06-06 11:28] belforte opened #1113 "make Crab accept CMSSW version with only 2 numbers, like 7_2_DEVEL_X"
needed for #1111

[2014-06-06 11:29] belforte commented on #1111
can't use in crab2 until I fix #1113

[2014-06-06 11:39] belforte commented on #1111
needed fixes in:
cms_cmss.py
SchedulerRemoteGlidein.py
ScriptWriter.py

[2014-06-06 12:12] #1094 closed, assigned to belforte

[2014-06-06 12:12] #1101 closed, assigned to belforte

[2014-06-06 12:12] #1104 closed, assigned to belforte

[2014-06-06 12:12] #1105 closed, assigned to belforte

[2014-06-06 12:12] #1109 closed, assigned to belforte

[2014-06-06 12:13] #1113 closed, assigned to belforte

[2014-06-06 12:14] #1098 closed, assigned to belforte

[2014-06-06 12:14] #1100 closed, assigned to belforte

[2014-06-06 12:15] #1106 closed, assigned to belforte

[2014-06-06 12:17] belforte commented on #1103
only happens with scram arch slc6_amd64_gcc472 which is not used for any production release

[2014-06-06 12:17] #1103 closed, assigned to belforte

[2014-06-06 12:19] belforte commented on #178
James is re-working it anyhow

[2014-06-06 12:19] #178 closed, assigned to jamesletts

[2014-06-08 13:48] belforte opened #1118 "keep more then 2k at the end of cmsRun stdout"
at times 2k lines are not enough to contain the timing report. See
https://hypernews.cern.ch/HyperNews/CMS/get/crabFeedback/7566/1/1/1.html

[2014-06-09 15:22] belforte commented on #1111
other then the fixes to use CMSSW_2_7_DEVEL... , it works.

[2014-06-09 15:24] #1111 closed, assigned to belforte

[2014-06-11 13:59] belforte opened #1122 "add support for slc6_amd64_gcc472 on lxplus6"
the first problem there is that voms-proxy-\* fials, see
https://hypernews.cern.ch/HyperNews/CMS/get/softwareDistrib/711.html

will try to deal with it with a change in ProdCommon/Proxy.py to use Shazad trick:
(see above thread)
csh/tcsh: eval `scram unsetenv -csh`; voms-proxy-init ; cmsenv
sh/bash: eval `scram unsetenv -sh`; voms-proxy-init ; cmsenv

[2014-06-11 16:18] belforte commented on #1122
need to put same hack also in CRABPYTHON in
SchedulerGrid SchedulerRemoteglidein crab_util and check_HN_Name
at least... amazing in how many places we directly call voms-proxy*

should probably do this also before gsissh, just to be safe

[2014-06-12 12:48] belforte commented on #931
will not fix

[2014-06-12 12:48] #931 closed, assigned to belforte

[2014-06-12 13:23] belforte commented on #1102
take this chance to remove check with SiteDB v1 API, which have been retired

[2014-06-12 13:29] #1102 closed, assigned to belforte

[2014-06-12 13:29] #1122 closed, assigned to belforte

[2014-06-12 13:30] #1118 closed, assigned to belforte

[2014-06-12 13:30] #1110 closed, assigned to belforte

[2014-06-12 13:31] belforte commented on #1055
maybe always look in phedex first ?

[2014-06-18 13:30] belforte opened #1124 "adding scram unsetenv before gsissh was done bad"
and crab -submit fails with:
2014-06-18 15:16:26,817 [DEBUG]     Execute command :
eval `scram unsetenv -sh`; gsissh  -o ControlMaster=auto -o ControlPath=/tmp/belforte/.ssh/ssh-link--959738357-vocms83.cern.ch -o BatchMode=yes -o StrictHostKeyChecking=no -o ForwardX11=no vocms83.cern.ch  "sleep 3600"
2014-06-18 15:16:26,859 [DEBUG]     Unexpected exception executing Submission operation : Tracebac

[2014-06-18 13:59] belforte commented on #1124
basically shlex does not like two commands with a ; in between.
will cut it short and use Popen(shell=True) instead.

[2014-06-18 16:09] belforte commented on #1124
fix is in bosslite/scheduler/schedulerRemoteglidein.py requires a new ProdCommon tag

[2014-06-21 20:40] belforte opened #1126 "use new HC dataset in sample crab.cfg"

[2014-06-23 14:40] #1126 closed, assigned to nobody

[2014-06-23 15:12] belforte commented on #1124
need to do more cleanly, as it is now it screws up rsync invocation.

[2014-06-27 20:58] #1124 closed, assigned to belforte

[2014-06-30 14:19] belforte commented on #1112
in other words, do we publish datasets stageout to odd places ?

[2014-06-30 15:22] belforte commented on #1112
done:
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1674/1.html

[2014-06-30 15:22] #1112 closed, assigned to belforte

[2014-06-30 16:05] belforte commented on #927
plan is at this point:
1. make Crab2 capable to use a Phedex Node Name if it finds it and
   pass that in JDL as CMSSite
2. make Crab2 use this as local SE when publishing if user used it
3. make Crab2 go from SE to Phedex Node Name using SiteDB for user using current 3-par. configuration (as needed e.g, for /store/group) and refuse publication if can't map

[2014-06-30 16:06] belforte commented on #1055
so:
- look in phedex first
- if dataset is not known to phedex AND am using phys0x DBD, use origin_site_name from DBS, else barf as 'unknown location'

[2014-06-30 16:54] belforte commented on #927
step 3. above appear correct in front of inspection of DBS3 and SiteDB
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1674/1/1/1.html

so it is the plan now

[2014-06-30 16:57] belforte commented on #1099
but this is a DBS3 problem, actually

[2014-06-30 21:06] belforte commented on #1099
issue reproduced. Only 64 files are changed valid-->invalid or viceversa.

[2014-06-30 21:17] belforte commented on #1099
issue in DBS opened
https://github.com/dmwm/DBS/issues/398

[2014-06-30 21:17] #1099 closed, assigned to belforte

[2014-07-01 16:53] belforte opened #1130 "in crab -help warn that max_rss is only effective at crab -create time"
like alreayd done for max_time

[2014-07-03 20:57] #1130 closed, assigned to belforte

[2014-07-10 19:47] ericvaandering opened #1132 "Boss generates spurious error message if Glite is not installed"
This line:

https://github.com/dmwm/CRAB2/blob/79eae4fd9beaa651ab25e7be909aa14a6c860deb/python/Boss.py#L42

causes an execution of the function for all schedulers whether Glite is used/called for or not. That function prints an error message to the screen if GLite is not found.

https://github.com/dmwm/CRAB2/blob/56fb88a74eb1d8a960c7642da35114ad8dacd189/python/crab_util.py#L800

You could just mak

[2014-07-11 15:50] belforte commented on #1132
thanks for pinpointing the origin of the annoying message. I always wanted to get rid of it, but did not find the stamina to look for it.
I will simply remove the printout.

[2014-07-12 15:14] #1132 closed, assigned to belforte

[2014-07-12 16:50] #1055 closed, assigned to belforte

[2014-07-15 14:38] belforte opened #1135 "local scope DBS (phys0x) to be used only for USER tier"
see
https://hypernews.cern.ch/HyperNews/CMS/get/wmDevelopment/615/1/1/1.html
i.e.

**\* Discussion title: Workflow Management Development

I'd like to propose a twist of this:
we only accept in CRAB (2 or 3) a phys0x local scope DBS
instance if the requeste dataset has tier=USER

Anybody sees something wrong ?

Rational: try to prevent users from screwing up early rather
then late, to save our tim

[2014-07-15 15:49] belforte commented on #1135
more from Eric:

The answer is “no”. But preferring global over phys03 is not necessarily right either. You can have a USER dataset in phys03, migrated to global by StoreResults and then extended on phys03.

So I think the white list of Tiers that can come from phys0{1,2,3} is the best available solution.

On Jul 15, 2014, at 10:25, Stefano Belforte stefano.belforte@cern.ch wrote:

[2014-07-15 15:49] belforte commented on #1135
So I am accepting a list of valid tiers.

[2014-07-15 15:53] belforte commented on #1135
commit pulled in

[2014-07-15 15:53] #1135 closed, assigned to belforte

[2014-07-16 13:31] belforte opened #1137 "typo in check_HN_Name"
On 07/16/2014 03:19 PM, Andres Tanasijczuk wrote:> Hi Stefano,

[2014-07-16 13:36] #1137 closed, assigned to belforte

[2014-07-22 15:05] belforte commented on #927
see Eric's planning document
https://www.evernote.com/shard/s48/sh/006ed13a-73bd-4a25-ac85-fae9da2728db/2b16a1a9dba95e5113dda5ace01070d9

[2014-07-29 17:08] belforte opened #1140 "use new DBS3 client 3_2_5"
fixes problem with file status change script (valid/invalid)
see:
https://github.com/dmwm/DBS/issues/398#issuecomment-50506077

[2014-07-30 22:00] belforte commented on #927
tentative way:

import json
import subprocess
cmd='curl -ks "https://cmsweb.cern.ch/phedex/datasvc/json/prod/BlockReplicaSummary?dataset=/SingleMu/Run2012B-TOPMuPlusJets-22Jan2013-v1/AOD&complete=y"'
j=subprocess.check_output(cmd,shell=True)
dict=json.loads(j)
blocks=dict['phedex']['block']
for b in blocks:
 bname=b['name']
 print bname
 for r in b['replica']:
   site=r['node']
   print site

[2014-07-31 11:06] belforte commented on #927
plan better detailed:
1. make Crab2 obtain PhEDEx Node Name when doing DataDiscovery for datasets in global DBS
   1.a will call datasvc API directly from Crab2
2. make Crab2 pass that in JDL as CMSSite
3. make Crab2 capable to detect PNN as origin location for datasets in local scope DBS and use that inJDL
4. make Crab2 convert SE name into PNN using PhEDEx new API when it finds SE as origin in l

[2014-07-31 12:07] belforte commented on #927
well.. need:
2a. use new SiteDB  API to go from PNN to PSN and put PSN as site name in JDL. But thiis is going to be the identity matrix still for some time, no sweat

[2014-07-31 15:57] ericvaandering commented on #927
"2a. use new SiteDB API to go from PNN to PSN and put PSN as site name in JDL"

Exactly. It's the identity matrix for Tier2s but  not for Tier 1, I'm afraid, so this needs to be there.

I guess the question with #6 is if you want to do this or just educate users that if they use free-form they cannot publish anymore. I guess with no other established way to write to /store/group you cannot?

[2014-07-31 19:40] belforte commented on #927
yes. Even if for T1's I can get some mileage mapping T1_cc_site_\* to T1_cc_site.
Simply to do one step at a time. Indeed the problem with #6 is /store/group. One possiblity
is to deprecate it in Crab2 and tell user to go Crab3. I am not even sure how much
it is used, we do not keep up-to-date recepies for srm_paths anywhere. There are
many solutions, it is only whether we want to change establish

[2014-07-31 20:15] ericvaandering commented on #927
This might be tenable. Writing the PNN into DBS is the second milestone of this project (being able use it when you find it is the first). It might be reasonable at that point to direct people who need to publish into /store/group to CRAB3.

We can defer a decision until later to be based on how many people do this and where CRAB3 is at that time w.r.t. workflows people need to run.

On Jul 31, 20

[2014-08-02 19:14] belforte opened #1141 "watchdog kills wrong processes with multicore pilots"
with multicore pilots, multiple payloads are run by same pilot and have processes in same process group
This makes watchdog do two bad things
1) uses e.g. memory consumption by another job to interrupt current one
2) when triggered, kills all processes in the group, even if from other jobs

this was detected with HammerCloud at FNAL which runs with same user as production, so 2.3GB RSS limit was t

[2014-08-02 19:16] belforte commented on #1141
Early diagnostics from Nicolo', with pointers to logs:

Hi Stefano,

On 08/01/2014 06:58 PM, Stefano Belforte wrote:

this is one of the _successful_ jobs. Notice that it also had an
increasing memory usage, but it completed successfully just before
hitting the memory limit:

http://vocms228.cern.ch/test_12167/gangadir/workspace/gangarbt/LocalXML/16/output/res/Watchdog_1.log.gz

On the other hand,

[2014-08-02 19:18] belforte commented on #1141
Hint from Burt:

On 8/1/2014 3:23 PM, Stefano Belforte wrote:

What about a multicore pilot that's using dynamic partitioning and
handling single-core jobs?  That might explain why this is kicking in
for cmsosgce4 only (that may be the only gatekeeper configured at the
factory to do multicore pilots?)
- B

[2014-08-02 19:18] belforte commented on #1141
Suggestion for a fix from Burt:
On 8/1/2014 11:53 PM, Burt Holzman wrote:

If this is the cause and the CRAB watchdog checks the pgrp, one solution
might be to have an extra script in the beginning that invokes setsid on
the main crab driver script?
- B

[2014-08-02 19:19] belforte commented on #1141
my reaction:
thanks Burt,
indeed watchdog used pgrp
https://github.com/dmwm/CRAB2/blob/79eae4fd9beaa651ab25e7be909aa14a6c860deb/python/crabWatchdog.sh#L109
so while this is first time I hear "setsid" word, your suggestion
can surely be implemented.
But.. realistically.. Crab2 is end of line now. Do we really want to fix this ?

What about:
1. a temporary kludge (like avoid some CE in HC or make it

[2014-08-02 19:19] belforte commented on #1141
Burt explains it is not so easy...

So Crab2 is EOL but this is a bug -- when do we drop support completely?
1. I don't want to avoid sending to 1/3 gatekeepers in HC, we want to split problems in thirds if something goes wrong with grid submission at the T1.
2. Ok.
3. Should we shut off multi-core submission at FNAL at the factory until this is fixed or CRAB2 is not used for user analysis?
4. The

[2014-08-02 19:20] belforte commented on #1141
sort of "final" understanding

HC can be fixed via the configuration file to ignore the RSS limit.
So if you want to do  3) right now for a few days until HC is patched, fine.

That done, we are left with the possibility that two jobs
from same user run in same multicore pilot and one going
out of bound kills both. Ugly, but maybe we can live with it ?
I am not against fixing bugs in Crab2, but I